<div class="response-list-card d-none d-sm-none d-md-none d-lg-block mt-4">
  <div class="card p-3">
    <div class="row" id="user-info">
      <div class="col-lg-3 col-md-4">
        <a href="#"><div class="profile-pic"></div></a>
      </div>
      <div class="col-lg-9 col-md-8">
        <label id="username" class="mt-2">User Name</label>
      </div>
    </div>
    <div class="dropdown-divider"></div>
    <ul class="nav flex-column">
      <li id="response-title" class="nav-item mb-1">
        My Responses
      </li>
      <li class="nav-item">
        Rammy
      </li>
      <li class="nav-item">
        Alice
      </li>
      <li class="nav-item">
        Bob
      </li>
    </ul>
  </div>
</div>