<!--suppress HtmlUnknownTarget -->
<div class="container vertical-center montserrat">
  <!-- Title Text-->
  <div class="row py-3 mx-3 justify-content-center" id="title">
    <h1 id="title-text">We see you’re trying to sign your friend’s virtrolio.<br>We need you to sign <em>in</em> first.
    </h1>
  </div>

  <!-- Fountain Pen SVG -->
  <div class="row mx-2 mt-3 mb-3 justify-content-center">
    <img alt="Image of pen" id="pen-graphic" src="../../../assets/images/FriendLink-Light.svg">
  </div>

  <!-- Buttons -->
  <div class="row justify-content-center mb-3" id="buttons">
    <button (click)="goToSigning()" class="btn btn-outline-dark google-sign-in-btn col-sm-4 col-md-3"
            type="button">
      <img alt="Google Logo" height="23" src="../../../assets/images/icons/google.svg" width="23">
      <span>Sign in with Google</span>
    </button>
    <button class="col-sm-4 col-md-3 btn btn-primary" routerLink="/" type="button">Home Page</button>
  </div>
  <div id="redirect-disclaimer-text" class="text-center">
    <p class="lead pt-4">By signing up for/signing into our service, you are agreeing to our
      <a href="/terms-of-service">Terms of Service.</a>
    </p>
    <p class="lead">At this time, we do not support signing in using providers other than Google.</p>
  </div>
</div>
