<div class="container vertical-center montserrat my-4">
  <!-- Title Text-->
  <div class="row py-3 mx-3 justify-content-center" id="title">
    <h1 id="title-text">We see you’re trying to sign your friend’s virtrolio.<br>We need you to sign <em>in</em> first.
    </h1>
  </div>

  <!-- Fountain Pen SVG -->
  <div class="row mx-2 mt-3 mb-3 justify-content-center">
    <img alt="Image of pen" src="../../../assets/images/FriendLink-Light.svg" id="pen-graphic">
  </div>

  <!-- Buttons -->
  <div class="row justify-content-center" id="buttons">
    <button type="button" (click)="goToSigning()"
      class="btn btn-outline-dark google-sign-in-btn col-sm-4 col-md-3">
      <img src="../../../assets/images/icons/google.svg" alt="Google Logo" width="23" height="23">
      <span>Sign in with Google</span>
    </button>
    <button type="button" routerLink="" class="col-sm-4 col-md-3 btn btn-primary">Home Page</button>
  </div>
</div>
