

.toggle-switch {
  color: var(--light-grey);
}

.custom-control-label {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.title-page {
  font-size: 3em;
  font-family: Montserrat, sans-serif;
}

.message {
  text-align: justify;
  font-size: 1.2em;
}

.author-row {
  font-size: 0.5em;
  font-family: Montserrat, sans-serif;
}

.table td {
  overflow-wrap: break-word;
}

.page {
  background-color: var(--accent);
  box-shadow: 0 0.15em 0.25em 0.05em rgba(0, 0, 0, 0.175);
  color: white;
  height: 70vh;
  padding: 3em 6em 3em 6em;
  display: flex;
  overflow-y: auto;
}

.message-card {
  background-color: var(--light-grey);
  box-shadow: 0 0.15em 0.25em 0.05em rgba(0, 0, 0, 0.175);
  height: 40em;
  padding: 3em 6em 3em 6em;
  display: flex;
  margin-bottom: 2em;
  overflow-y: auto;
}
