<!-- Perform a check to see if the number of messages received is 0 -->
<div *ngIf="viewService.numMessages === 0; else showMessages" class="m-5" id="no-messages">No messages...
  <markdown emoji>:sob:</markdown>
</div>

<!-- If the ngIf above fails, this ngTemplate will show -->
<ng-template #showMessages>
  <!-- Toggle switch for message viewing styles -->
  <div class="row my-3">
    <div class="col-12">
      <button class="btn-sm btn-primary" *ngIf="!viewService.isCarouselView" (click)="toggleViewStyle()">Switch to Booklet</button>
      <button class="btn-sm btn-primary" *ngIf="viewService.isCarouselView" (click)="toggleViewStyle()">Switch to Cards</button>
    </div>
  </div>

  <!-- Card message view -->
  <div class="card-columns mt-3" *ngIf="viewService.isCarouselView === false">
    <div class="card shadow" *ngFor="let msg of viewService.messages;" id="{{ msg.id }}">
      <div class="msg-header">
        <div class="msg-header-group">
          <table class="header-table">
            <tr>
              <td>
              <span class="profile-pic-container-small mr-2">
                <img class="profile-pic" src="{{ msg.fromPic }}" alt="profile-pic">
              </span>
              </td>
              <td>
                <table>
                  <tr>
                    <div class="msg-header-text">
                      <span>{{ msg.fromName }}</span>
                    </div>
                  </tr>
                  <tr>
                    <span class="msg-header-date">{{ viewService.timeSince(viewService.nowMillis, msg.timestamp.toMillis(), msg.timestamp.toDate().toDateString()) }}</span>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
        </div>
        <div class="card-header-group">
          <table class="header-table">
            <tr>
              <td>
                <button class="btn card-button" type="button" data-toggle=""
                        data-target="#bookmark">
                  <img class="card-icon" src="../../../../assets/images/icons/bookmark.svg">
                </button>
                <button class="btn card-button" type="button" data-toggle="modal"
                        data-target="#delete" (click)="setMessageToDelete(msg.id)">
                  <img class="card-icon" src="../../../../assets/images/icons/trash.svg">
                </button>
              </td>
            </tr>
          </table>
        </div>
      </div>
      <div class="card-body message-card" [ngStyle]="{'background': msg.backColor}">
        <table>
          <tr class="message"
              [ngStyle]="{'color': msg.fontColor, 'font-family': fonts[msg.fontFamily].fontFamily +','+ fonts[msg.fontFamily].backupFont }">
            <td>
              <markdown emoji data="{{ msg.contents }}"></markdown>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>

  <!-- Carousel message view -->
  <div class="viewing-container mb-5" *ngIf="viewService.isCarouselView === true">
    <div id="carousel" class="carousel slide border rounded" data-ride="carousel" data-interval="false">
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="msg-header">
            <div class="msg-header-group">
              <table class="header-table">
                <tr>
                  <td>
                    <span class="profile-pic-container-small mr-2">
                      <img class="profile-pic" src="../../../../assets/images/logo_reg.png" alt="profile-pic">
                    </span>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <span class="msg-header-text">Vitrolio Team</span>
                      </tr>
                      <tr>
                        <span class="msg-header-date">You have {{ viewService.numMessages }} messages</span>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="page title-page vertical-center">
            <div class="title-text">Welcome to your Virtrolio! Click on the arrows to navigate through your book.</div>
          </div>
        </div>
        <div class="carousel-item" *ngFor="let msg of viewService.messages">
          <div class="msg-header">
            <div class="msg-header-group">
              <table class="header-table">
                <tr>
                  <td>
                    <span class="profile-pic-container-small mr-2">
                      <img class="profile-pic" src="{{ msg.fromPic }}" alt="profile-pic">
                    </span>
                  </td>
                  <td>
                    <table>
                      <tr>
                        <span class="msg-header-text">{{ msg.fromName }}</span>
                      </tr>
                      <tr>
                        <span class="msg-header-date">{{ viewService.timeSince(viewService.nowMillis, msg.timestamp.toMillis(), msg.timestamp.toDate().toDateString()) }}</span>
                      </tr>
                    </table>
                  </td>
                </tr>
              </table>
            </div>
          </div>
          <div class="page" [ngStyle]="{'background': msg.backColor}">
            <table>
              <tr class="message"
                  [ngStyle]="{'background-color': msg.backColor, 'color': msg.fontColor, 'font-family': fonts[msg.fontFamily].fontFamily +','+ fonts[msg.fontFamily].backupFont }">
                <td>
                  <markdown emoji data="{{ msg.contents }}"></markdown>
                </td>
              </tr>
            </table>
          </div>
        </div>
      </div>
      <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      </a>
      <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
      </a>
    </div>
  </div>
</ng-template>

<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="delete-message-modal-title"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Modal Title -->
        <h5 class="modal-title" id="delete-message-modal-title">Easy now!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='delete-message-body'>
        Looks like you're trying to delete a message! Please be sure that this is what you want to do. <b>It is not
        possible to recover a deleted message</b>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="deleteMessage()">Yes, I want to
          delete
        </button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
