<div class="row my-3">
  <div class="col-12">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="viewService.isCardView"
             (click)="toggleViewStyle()">
      <label class="custom-control-label toggle-switch" for="customSwitch1" *ngIf="!viewService.isCardView">Switch to
        Cards</label>
      <label class="custom-control-label toggle-switch" for="customSwitch1" *ngIf="viewService.isCardView">Switch to
        Booklet</label>
    </div>
  </div>
</div>

<div class="viewing-container mb-5" *ngIf="viewService.isCardView === false">
  <div id="carousel" class="carousel slide border rounded" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page">
          <span class="title-page">My Yearbook</span>
        </div>
      </div>
      <div class="carousel-item" *ngFor="let msg of viewService.messages">
        <div class="page" [ngStyle]="{'background': msg.backColor}">
          <table>
            <tr class="message" [ngStyle]="{'background-color': msg.backColor, 'color': msg.fontColor, 'font-family': msg.fontFamily}">
              <td>
                <markdown emoji data="{{ msg.contents }}"></markdown>
              </td>
            </tr>
            <tr class="message" [ngStyle]="{'color': msg.fontColor, 'font-family': msg.fontFamily}">
              <td>msg.authorname</td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carousel" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </a>
    <a class="carousel-control-next" href="#carousel" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </a>
  </div>
</div>
<div class="card-columns mt-3" *ngIf="viewService.isCardView === true">
  <div class="card message-card p-5" *ngFor="let msg of viewService.messages; let i = index" id="{{i}}"
       [ngStyle]="{'background': msg.backColor}">
    <table>
      <tr class="message"
          [ngStyle]="{'color': msg.fontColor, 'font-family': msg.fontFamily}">
        <td>
          <markdown emoji data="{{ msg.contents }}"></markdown>
        </td>
      </tr>
      <tr class="message"
          [ngStyle]="{'color': msg.fontColor, 'font-family': msg.fontFamily}">
        <td>msg.authorName</td>
      </tr>
    </table>
  </div>
</div>
