#options > * {
	margin: 0.5em 0.5em;
}

#title-div {
	text-align: center;
}

#fontSelectorDropdown {
	text-align: right;
	width: 12em;
}

.format-icons {
	width:1.8em;
	height:1.8em;
}

.btn-format {
	width: 2.4em;
}

#signing-header {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 1.6em;
}


#signing-box {
	margin: 1em;
	padding: 1em;
	width: 50em;
	resize: none;
	font: 16px Arial;
	border-width: 0.05em;
	border-radius: 0em;
}

.form-control:focus {
	border-color: var(--accent);
	box-shadow: none;
}

#preview-header {
	margin-top: 1.0em;
	margin-bottom: 0em;
	font-size: 1.2em;
}

markdown {
	margin: 1em;
	padding: 1em;
	width: 50em;
	height: 20em;
	resize: none;
	font: 16px Arial;
	border: 0.05em solid var(--light-grey);
	border-radius: 0.4em;
	overflow-y: auto;
	overflow-x: auto;
	word-wrap: break-word;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: var(--accent);
}
