<div class="container py-5 center-children vertical-center">
  <div class="row">
    <!-- signing boxes -->
    <div class="col-md-6 order-md-1 center-children">
      <div class="row title-div vertical-center">
        <label for="signing-box">
          Type your message to [friend name] below.
        </label>
      </div>
      <div class="row">
        <textarea #signingInputArea id="signing-box" class="form-control" autofocus [(ngModel)]='signingBoxText'
          [ngStyle]="{'font-family': currentFont}" maxlength='5000'></textarea>
      </div>
    </div>

    <!-- Formatting buttons and color pickers -->
    <div class='col-md-12 order-md-3'>
      <div class=" row justify-content-center" id="options">
        <!-- font selector -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="font-selector-dropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentFontDisplay }}
          </button>
          <div class="dropdown-menu" aria-labelledby="font-selector-dropdown">
            <!-- javascript: void(0) does nothing, but the href makes the cursor become a clicky thing on hover -->
            <a class="dropdown-item" style="font-family: Arial, sans-serif" (click)="selectFont('Arial, sans-serif')"
              href="javascript: void(0)">Arial</a>
            <a class="dropdown-item" style="font-family: Comic Sans MS, sans-serif"
              (click)="selectFont('Comic Sans MS, sans-serif')" href="javascript: void(0)">Comic Sans MS</a>
            <a class="dropdown-item" style="font-family: Courier New, monospace"
              (click)="selectFont('Courier New, monospace')" href="javascript: void(0)">Courier New</a>
            <a class="dropdown-item" style="font-family: Dancing Script, cursive"
              (click)="selectFont('Dancing Script, cursive')" href="javascript: void(0)">Dancing Script</a>
            <a class="dropdown-item" style="font-family: Montserrat, sans-serif"
              (click)="selectFont('Montserrat, sans-serif')" href="javascript: void(0)">Montserrat</a>
            <a class="dropdown-item" style="font-family: Roboto, sans-serif" (click)="selectFont('Roboto, sans-serif')"
              href="javascript: void(0)">Roboto</a>
            <a class="dropdown-item" style="font-family: Times New Roman, serif"
              (click)="selectFont('Times New Roman, serif')" href="javascript: void(0)">Times New
              Roman</a>
          </div>
        </div>
        <!-- formatting buttons -->
        <button type="button" (click)="makeBold(signingInputArea)" class="btn btn-secondary btn-format mr-2"
          id="button-bold" #b>
          <b>B</b>
        </button>
        <button type="button" (click)="makeItalics(signingInputArea)" class="btn btn-secondary btn-format mr-2"
          id="button-italics">
          <i>I</i>
        </button>
        <button type="button" (click)="makeUnderline(signingInputArea)" class="btn btn-secondary btn-format mr-2"
          id="button-underline">
          <u>U</u>
        </button>
        <button type="button" (click)="makeStrikethrough(signingInputArea)" class="btn btn-secondary btn-format mr-2"
          id="button-strikethrough">
          <s>S</s>
        </button>
        <!-- Color pickers for text and background -->
        <button type="button" class="btn btn-secondary btn-format mr-2" id="icon-wrapper">
          <div id="font-color-text">A</div>
          <input type="color" class="mr-2" id="colorpicker-font" name="fontColorPicker" value={{textColor}}
            [(ngModel)]='textColor'>
          <div class="dynamic-color-bar" [ngStyle]="{'background-color': textColor}">&nbsp;</div>
        </button>
        <button type="button" class="btn btn-secondary btn-format mr-2" id="icon-wrapper">
          <img id="icon" src="../../../assets/images/icons/SigningIcon_fill-color.svg">
          <input type="color" class="mr-2" id="colorpicker-background" name="backgroundColorPicker"
            value={{backgroundColor}} [(ngModel)]='backgroundColor'>
          <div class="dynamic-color-bar" [ngStyle]="{'background-color': backgroundColor}">&nbsp;</div>
        </button>
        <button type="button" class="btn btn-primary btn-send" data-toggle="modal" data-target="#submit-confirm-modal">
          Send
        </button>
      </div>
    </div>
    <!-- preview box -->
    <div class="col-md-6 order-md-2 center-children">
      <div class="row title-div vertical-center">
        <label for="preview-text">
          Preview
        </label>
      </div>
      <div class="row">
        <markdown emoji
          [ngStyle]="{'background-color': backgroundColor, 'color': textColor, 'font-family': currentFont}"
          id="preview-text" data="{{ signingBoxText }}"></markdown>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="submit-confirm-modal" tabindex="-1" role="dialog"
  aria-labelledby="submit-confirm-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submit-confirm-modal-title">Are you sure you want to submit?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You can only submit one message to a friend’s virtrolio per account, so be absolutely certain!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" routerLink="/msg-sent" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>