#options > * {
	margin: 0.5em 0.5em;
}

#title-div {
	text-align: center;
}

#fontSelectorDropdown {
	text-align: right;
	width: 12em;
}

.format-icons {
	width:1.8em;
	height:1.8em;
}

.btn-format {
	width: 2.4em;
}

.form-control {
	margin: 1em;
	margin-bottom: 1em;
}

.form-control:focus {
	border-color: var(--accent);
	box-shadow: none;
}

#signing-box {
	width: 50em;
	resize: none;
}

#preview-header {
	margin-top: 0.8em;
	font-size: 1.2em;
}

#signing-header {
	margin-left: 0.5em;
	margin-right: 0.5em;
	font-size: 1.6em;
}

markdown {
	border: 2px solid #ddd;
	border-radius: 8px;
	height: 12em;
	padding: 2em;
	overflow-y: auto;
	overflow-x: auto;
	word-wrap: break-word;
	width: 50em;
  }

#preview-box {
	border: black;
	border-width: 0.1em;
	background-color: #dddddd;
}
