<div class="container py-4 center-children vertical-center">
  <div class="row">
    
    <!-- Signing box, header, and character count -->
    <div class="col-md-6 order-md-1 center-children">
      <div class="row title-div vertical-center">
        <label for="signing-box">
          <b>Type your message to {{ name }} below.</b>
        </label>
      </div>
      <div class="row">
        <textarea #signingInputArea id="signing-box" class="form-control" autofocus
          (keyup)='updateCount(signingInputArea)' [(ngModel)]='signingBoxText'
          [ngStyle]="{'font-family': currentFont}"></textarea>
        <span id="char-count-display" *ngIf="charCount >= 2000" [ngStyle]="{'color': charCountColor}">
          {{ charCount }} / {{ maxCharCount }}
        </span>
      </div>
    </div>

    <!-- Formatting Tools -->
    <div class='col-md-12 order-md-3'>
      <div class=" row justify-content-center" id="options">
        
        <!-- Font dropdown -->
        <div class="dropdown">
          <button class="btn btn-secondary dropdown-toggle" type="button" id="font-selector-dropdown"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ currentFontDisplay }}
          </button>
          <div class="dropdown-menu" aria-labelledby="font-selector-dropdown">
            <!-- javascript: void(0) does nothing, but the href makes the cursor become a clicky thing on hover -->
            <a class="dropdown-item" style="font-family: Arial, sans-serif" (click)="selectFont('Arial, sans-serif')"
              href="javascript: void(0)">Arial</a>
            <a class="dropdown-item" style="font-family: Comic Sans MS, sans-serif"
              (click)="selectFont('Comic Sans MS, sans-serif')" href="javascript: void(0)">Comic Sans MS</a>
            <a class="dropdown-item" style="font-family: Courier New, monospace"
              (click)="selectFont('Courier New, monospace')" href="javascript: void(0)">Courier New</a>
            <a class="dropdown-item" style="font-family: Dancing Script, cursive"
              (click)="selectFont('Dancing Script, cursive')" href="javascript: void(0)">Dancing Script</a>
            <a class="dropdown-item" style="font-family: Montserrat, sans-serif"
              (click)="selectFont('Montserrat, sans-serif')" href="javascript: void(0)">Montserrat</a>
            <a class="dropdown-item" style="font-family: Roboto, sans-serif" (click)="selectFont('Roboto, sans-serif')"
              href="javascript: void(0)">Roboto</a>
            <a class="dropdown-item" style="font-family: Times New Roman, serif"
              (click)="selectFont('Times New Roman, serif')" href="javascript: void(0)">Times New
              Roman</a>
          </div>
        </div>

        <!-- Formatting buttons -->
        <button type="button" (click)="addFormatting(signingInputArea, '**')" class="btn btn-secondary btn-format mr-2"
          id="button-bold">
          <b>B</b>
        </button>
        <button type="button" (click)="addFormatting(signingInputArea, '*')" class="btn btn-secondary btn-format mr-2"
          id="button-italics">
          <i>I</i>
        </button>
        <button type="button" (click)="addFormatting(signingInputArea, '&lt;u>')"
          class="btn btn-secondary btn-format mr-2" id="button-underline">
          <u>U</u>
        </button>
        <button type="button" (click)="addFormatting(signingInputArea, '~~')" class="btn btn-secondary btn-format mr-2"
          id="button-strikethrough">
          <s>S</s>
        </button>

        <!-- Color pickers for text and background -->
        <button type="button" class="btn btn-secondary btn-format mr-2 icon-wrapper">
          <span id="font-color-text">A</span>
          <label for="colorpicker-font" hidden>Colour picker for font</label>
          <input type="color" class="mr-2" id="colorpicker-font" name="fontColorPicker" value={{textColor}}
            [(ngModel)]='textColor'>
          <span class="dynamic-color-bar" [ngStyle]="{'background-color': textColor}">&nbsp;</span>
        </button>
        <button type="button" class="btn btn-secondary btn-format mr-2 icon-wrapper">
          <img id="icon" src="../../../assets/images/icons/SigningIcon_fill-color.svg" alt="fill color selector">
          <label for="colorpicker-background" hidden>Colour picker for background</label>
          <input type="color" class="mr-2" id="colorpicker-background" name="backgroundColorPicker"
            value={{backgroundColor}} [(ngModel)]='backgroundColor'>
          <span class="dynamic-color-bar" [ngStyle]="{'background-color': backgroundColor}">&nbsp;</span>
        </button>

        <button type="button" class="btn btn-primary btn-send" data-toggle="modal" data-target="#submit-confirm-modal"
          [disabled]="!canSend">Send</button>
      </div>
    </div>
    
    <!-- Preview box -->
    <div class="col-md-6 order-md-2 center-children">
      <div class="row title-div vertical-center">
        <label for="preview-text">
          Preview
          <button type="button" class="btn btn-secondary shadow-sm" id="btn-info" data-toggle="modal"
            data-target="#info-modal">?</button>
        </label>
      </div>
      <div class="row">
        <markdown emoji
          [ngStyle]="{'background-color': backgroundColor, 'color': textColor, 'font-family': currentFont}"
          id="preview-text" data="{{ signingBoxText }}"></markdown>
      </div>
    </div>
  </div>
</div>

<!-- Message confirmation modal -->
<div class="modal fade" id="submit-confirm-modal" tabindex="-1" role="dialog"
  aria-labelledby="submit-confirm-modal-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="submit-confirm-modal-title">Are you sure you want to send this?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        You can only submit one message to a friend’s virtrolio per account, so be absolutely certain!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="createMsg(signingInputArea)" data-dismiss="modal">
          Send it!</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<!-- Information modal when they click on the ? -->
<div class="modal fade" id="info-modal" tabindex="-1" role="dialog" aria-labelledby="info-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="info-modal-title">Craft your perfect message!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Virtrolio supports a modified version of <em>Markdown</em> to format text. We also use an emoji library! ❤️
        <br>
        <a href="https://www.markdownguide.org/basic-syntax/" target="_blank">Learn how to type in markdown</a>
        <br>
        <a href="https://github.com/ikatyang/emoji-cheat-sheet/blob/master/README.md" target="_blank">Visit the library
          of available emojis</a>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
