#options > * {
  margin: 1.4em 0.5em 0.8em;
  box-shadow: var(--signing-shadow);
}

#font-selector-dropdown {
	text-align: right;
  width: 12em;
  height: 2.5em;
}

.btn-format {
  width: 2.5em;
  height: 2.5em;
}

.btn-send {
  width: 6em;
  height: 2.5em;
}

.btn-send:disabled {
  background-color: var(--light-grey);
}

.title-div {
  height: 3em;
  margin: 0em 0.5em 0 0.5em;
  text-align: center;
  font-size: 1.2em;
}

#signing-box {
  margin: 0.5em;
	padding: 1em;
  width: 40em;
  height: 20em;
  resize: none;
  color: #000000;
  font-size: 1em;
	border-width: 0.05em;
  border-radius: 0.25rem;
  box-shadow: var(--signing-shadow);
}

.form-control {
  border-color: var(--light-grey)
}

.form-control:focus {
  border-color: var(--accent);
}

#char-count-display {
  z-index: 10;
  position: absolute;  
  bottom: -1em;
  right: 2.0em;
}

markdown {
	margin: 0.5em;
	padding: 1em;
	width: 40em;
	height: 20em;
	resize: none;
	font: 1em Arial;
	border: 0.05em solid var(--light-grey);
	overflow-y: auto;
	overflow-x: auto;
  word-wrap: break-word;
  border-radius: 0.25rem;
  box-shadow: var(--signing-shadow);
  line-height: 1.5;
}

.dropdown-item.active, .dropdown-item:active {
	background-color: var(--accent);
}

.dropdown-menu {
  overflow-y: auto;
  height: 12em;
}

#icon {
  width: 1.5em;
  margin: 0 auto;
}

#icon-wrapper {
  padding: 0;
}

#colorpicker-font, #colorpicker-background {
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  margin: -1.55em 0.05em !important;
}

#font-color-text {
  margin-bottom: 0;
  font-size: large;
}

.color-picker-labels {
  visibility: hidden;
  font-size: 0;
}

.dynamic-color-bar {
  height: 0.4em; 
  margin: 0.1em 0.2em; 
  border-radius: 0.4em;
}

#btn-info {
  margin: 0.5em 0.5em 0.7em;
  padding: 0em;
  border-radius: 6em;
  width: 2em;
  height: 2em;
  background-color: #90959A;
  color: #ffffff;
}

#btn-info:hover {
  background-color: #75797A;
}
