#signing-experience-alert {
  text-align: center;
}

/* || Signing box, Preview Box */

#signing-box {
  margin: 0.5em;
  padding: 1em;
  width: 40em;
  height: 20em;
  resize: none;
  color: #000000;
  font-size: 1em;
  border-width: 0.05em;
  border-radius: 0.25rem;
  box-shadow: var(--signing-shadow);
}

#char-count-display {
  z-index: 10;
  position: absolute;
  bottom: -1em;
  right: 2.0em;
}

.form-control {
  border-color: var(--light-grey)
}

.form-control:focus {
  border-color: var(--accent);
}

markdown {
  margin: 0.5em;
  padding: 1em;
  width: 40em;
  height: 20em;
  resize: none;
  font: 1em Arial;
  border: 0.05em solid var(--light-grey);
  overflow-y: auto;
  overflow-x: auto;
  word-wrap: break-word;
  border-radius: 0.25rem;
  box-shadow: var(--signing-shadow);
  line-height: 1.5;
}

/* || Formatting Tools  */

#options > * {
  margin: 1.4em 0.5em 0.8em;
  box-shadow: var(--signing-shadow);
}

#font-selector-dropdown {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  width: 12em;
  height: 2.5em;
}

#font-selector-dropdown span:not(.caret) {
  overflow: hidden;
  text-overflow: ellipsis;
}

#font-selector-dropdown .caret {
  margin: auto;
}

.btn-format {
  width: 2.5em;
  height: 2.5em;
}

.btn-send {
  width: 6em;
  height: 2.5em;
}

.btn-send:disabled {
  background-color: var(--light-grey);
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: var(--accent);
}

.dropdown-menu {
  overflow-y: auto;
  height: 12em;
  z-index: 2000;
}

#fill-color-icon {
  width: 1.5em;
  margin: 0 auto 0.1em auto;
}

#image-icon {
  width: 1.7em;
  margin: 0 auto;
}

.icon-wrapper {
  padding: 0;
  cursor: pointer;
}

#color-picker-font, #color-picker-background {
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  margin: -1.55em 0.05em !important;
  cursor: pointer;
}

#font-color-text {
  margin-bottom: 0;
  font-size: large;
}

.dynamic-color-bar {
  display: block;
  height: 0.4em;
  margin: 0.1em 0.2em;
  border-radius: 0.4em;
}

/* || Embed Photo */

#embed-image-holder {
  max-width: 100%;
}

#embed-image-card {
  border: 0.0625em solid grey;
  min-height: 2.375em;
  color: grey;
}

#embed-link-field {
  border: 0.1em solid var(--accent);
  border-radius: 0.2em;
}

#embed-photo-div {
  text-align: center;
}

#embed-photo-dialog, .modal-content {
  max-width: 69em;
}

#embed-modal {
  z-index: 2000;
}

#image-preview-heading {
  height: 1.8125em;
}

#width-slider {
  height: 0.625em;
}

#width-slider-field {
  width: 4em;
}

/* || Typography */

.title-div {
  height: 3em;
  margin: 0 0.5em 0 0.5em;
  text-align: center;
  font-size: 1.2em;
}

/* || Miscellaneous */

#btn-info {
  border-radius: 6em;
  color: #ffffff;
  box-shadow: var(--signing-shadow);
}

#send-button {
  width: 10em;
  height: 3em;
  font-weight: bolder;
}

#send-button {
  width: 10em;
  height: 3em;
  font-weight: bolder;
}
