<div class="container vertical-center montserrat my-4">
  <div class="row justify-content-center mx-3">
    <h1 class="display-4" id="title-text">You seem familiar...</h1>
  </div>
  <div class="row justify-content-center mx-3">
    <p id="subtitle-text">You've already signed this virtrolio with this account!<br>Ask your friend to delete your previous message if you want to send another one.</p>
  </div>
  <div class="row justify-content-center mx-3 mt-3">
    <img src="../../../assets/images/Rejecc.png" alt="Black cloud" id="graphic">
  </div>
  <div class="row justify-content-center m-2 ">
    <button class="btn-lg btn-primary mt-5" routerLink="">Back to Home</button>
  </div>
</div>
