<div class="container vertical-center montserrat">
  <div class="row justify-content-center mx-3 mt-3">
    <h1 class="display-4" id="title-text">You seem familiar...</h1>
  </div>
  <div class="row justify-content-center mx-3">
    <p id="subtitle-text">
      You've already signed this virtrolio with this account!<br />Ask your
      friend to delete your previous message if you want to send another one.
    </p>
  </div>
  <div class="row justify-content-center mx-3 mt-3">
    <img
      alt="Black cloud"
      id="graphic"
      src="../../../assets/images/Rejecc.png"
    />
  </div>
  <div class="row justify-content-center my-3">
    <button class="btn-lg btn-primary mt-5" routerLink="">Back to Home</button>
  </div>
</div>
