#pnf-graphic {
  /* Paper plane SVG */
  width: 25em;
}

#buttons > button {
  /* For each button */
  margin: 2em 1em 0;
  font-size: 1.1em;
}

#title-text {
  /* "Your friend will receive your message soon!" */
  text-align: center;
  font-size: 2em;
}
