footer {
    left: 0;
    bottom: 0;
    margin-bottom: 0;
    width: 100%;
    background-color: var(--darkest-accent);
    color: white;
    position: relative;
    height: var(--footer-height);
}

.footer-copyright {
    background-color: var(--darkest-accent);
}