<!-- Footer -->
<footer class="vertical-center align-items-center" id="footer">

  <a class="m-4" routerLink="pagenotfound">
    <img src="../../assets/images/icons/facebook.svg" width="32" height="32">
  </a>
  
  <a class="m-4" routerLink="pagenotfound">
    <img src="../../assets/images/icons/instagram.svg" width="32" height="32">
  </a>
  
  <a class="m-4" href="mailto:virtrolio.team@gmail.com">
    <img src="../../assets/images/icons/mail.svg" width="32" height="32">
  </a>

</footer>
  <!-- Footer -->