#virtrolio-outer-div {
  /* Div enclosing virtrolio (outside <a> tag) */
  height: 35em;
  padding: 0 4.5%;
}

#virtrolio-outer {
  /* Div enclosing virtrolio (inside <a> tag) */
  height: 100%;
}

#virtrolio-title {
  /* Title of the virtrolio */
  height: 10em;
  text-align: center;
}

#users-virtrolio {
  /* "User's virtrolio" text on virtrolio cover */
  text-align: center;
  color: white;
}

#friend-link-body {
  /* Contents of friend-link modal body */
  text-align: center;
}

#friend-link-body > * {
  /* Each item inside the friend-link modal body */
  margin: 0.8em;
}

#friend-link-field {
  /* Friend link text field (where the link is) */
  width: 15em;
}

#buttons > *.row > * {
  /* Each individual button will have these properties: */
  height: 4em;
  width: 100%;
  margin: 1.2em;
}
