#virtrolio-outer-div {
  /* Div enclosing virtrolio (outside <a> tag) */
  height: 35em;
  padding: 0 5%;
}

#virtrolio-outer {
  /* Div enclosing virtrolio (inside <a> tag) */
  height: 100%;
  box-shadow: 5px 10px var(--light-grey);
}

.bg-primary:hover {
  background-color: var(--dark-accent) !important;
}

.btn-primary:disabled {
  background-color: var(--light-grey);
}

#virtrolio-title {
  /* Title of the virtrolio */
  height: 10em;
  text-align: center;
}

#users-virtrolio {
  /* "User's virtrolio" text on virtrolio cover */
  text-align: center;
  color: white;
  line-height: 1.5;
}

#friend-link-body {
  /* Contents of friend-link modal body */
  text-align: center;
  padding: 0.5em;
}

#friend-link-body > * {
  /* Each item inside the friend-link modal body */
  margin: 0.4em;
}

#friend-link-field {
  /* Friend link text field (where the link is) */
  width: 50%;
  height: 2em;
  padding: 0.2em;
  overflow-x: auto;
}

#button-new-link {
  margin: 1em;
  padding: 4em;
}

#buttons > *.row > * {
  /* Each individual button will have these properties: */
  height: 4em;
  width: 100%;
  margin: 1.2em;
  overflow: auto;
}

#buttons {
  padding-top: 2em;
}

#button-new-link {
  height: 3.3em;
  width: 10em;
  font-size: 0.7em;
  padding: 0.1em;
  margin: auto; /*0.2em 1.5em 0.2em 1.5em;*/
}

#warning-div {
  color: #f05555;
  text-align: center;
  padding: 0.2em;
}
