<div class="container-fluid vertical-center montserrat">
  <div class="row d-flex justify-content-center">

    <!-- Div enclosing virtrolio cover -->
    <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 mt-4 mt-md-0" id="virtrolio-outer-div">
      <a class="clickable-object" routerLink="/viewing">
        <div class="shadow p-3 mb-5 bg-primary rounded" id="virtrolio-outer">
          <div class="bg-light p-3 mt-4 m-4 rounded vertical-center" id="virtrolio-title">
            <h1>2019-2020</h1>
          </div>
          <div class="mt-5">
            <h2 id="users-virtrolio">Property of:<br>{{authService.displayName()}} </h2>
          </div>
        </div>
      </a>
    </div>

    <!-- Side buttons -->
    <div class="col-md-2 col-sm-3 px-2 mt-4 mt-md-0 vertical-center">
      <div id="buttons">
        <div class="row">
          <button class="btn-lg btn-primary" type="button" data-toggle="modal" data-target="#link-gen"
            (click)="setLink(); warningText=false;">Sharing Link
          </button>
        </div>
        <div class="row">
          <button class="btn-lg btn-primary" type="button" data-toggle="modal" data-target="#send-message">Send a
            Message
          </button>
        </div>
        <div class="row">
          <button class="btn-lg btn-primary" type="button" routerLink="/settings">Settings</button>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div> <!-- Spacer to push the book & buttons left on big screens -->
  </div>
</div>

<!-- Friend Link Modal -->
<div class="modal fade" id="link-gen" tabindex="-1" role="dialog" aria-labelledby="link-gen-title" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Modal Title -->
        <h5 class="modal-title" id="link-gen-title">Ahoy, your sharing link has been prepared!</h5>
        <button type="button" class="btn btn-primary close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='friend-link-body'>
        <label id="friend-link-label" for="friend-link-field" style="display:none">Your Link:</label>
        <!-- later we need to replace the placeholder url with their id-->
        <input type="text" class="align-middle" #friendLink value="{{ link }}" readonly [disabled]="!linkReady"
          (click)="copyLink(friendLink, copyButton)" id="friend-link-field">
        <button type="button" id="button-copy" #copyButton [disabled]="!linkReady" class="btn btn-primary align-middle"
          (click)="copyLink(friendLink, copyButton)">Copy
        </button>

        <div class="row">
          <label for="button-new-link" style="display:none">Click to generate a new link</label>
          <button class="btn btn-secondary" type="button" id="button-new-link" (click)="warnAndGenerate()">Generate
            new link
          </button>
          <div id="warning-div" *ngIf="warningText == true">
            Are you sure? Generating a new link will invalidate all older ones! Click generate again to confirm.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Send a Message Modal -->
<div class="modal fade" id="send-message" tabindex="-1" role="dialog" aria-labelledby="send-message-modal-title"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <!-- Modal Title -->
        <h5 class="modal-title" id="send-message-modal-title">You're barking up the wrong tree, bud!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body" id='send-message-body'>
        To sign a friend's virtrolio, they need to give you their 'sharing link'! To access <em>your</em>
        sharing link, click the 'Sharing Link' button on this page!
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>