rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /messages/{message} {
      // 1st condition: Allow you to read messages sent to you for purposes of viewing.component
      // 2nd condition: Allow you to read messages sent by you for purposes of checkForMessage()
      allow read: if resource.data.to == request.auth.uid || request.resource.data.from == request.auth.uid;
      allow create: if request.resource.data.from == request.auth.uid;
      allow update: if false;
      allow delete: if resource.data.to == request.auth.uid;
    }
    match /users/{user} {
      allow read, write: if request.auth != null;
    }
  }
}
