<!-- Inline images (if present) -->
<div *ngFor='let image of this.images' class='d-flex p-2 justify-content-center'>
  <div>
    <a class='col p-0 d-flex justify-content-center' [href]="image | getDownloadURL"
       target='_blank'>
      <img class='msg-footer-img' [src]="image | getDownloadURL" alt='Virtrolio Message image'>
      <div class='msg-footer-img-overlay'>
        <img src='../../../../assets/images/icons/external-link.svg' id='external-link-icon' alt='Virtrolio Message image'>
      </div>
    </a>
  </div>
</div>
