<div class="row justify-content-center pt-5">
  <div class="single-message-view col-12 col-sm-12 col-md-8 col-lg-6 col-xl-5">
    <div class="author-card">
      <span class="profile-pic-container-small">
        <img alt="profile-pic" class="profile-pic" src="{{ viewService.singleMessage.fromPic }}">
      </span>
    </div>
    <div class="author-card mb-3">
      <div class="msg-header-text">
        {{ viewService.singleMessage.fromName }}
      </div>
    </div>
    <div class="card shadow message-card">
      <div [ngStyle]="{'background': viewService.singleMessage.backColor,
                       'color': viewService.singleMessage.fontColor,
                       'font-family': viewService.fonts[viewService.singleMessage.fontFamily].fontFamily
                       +','+ viewService.fonts[viewService.singleMessage.fontFamily].backupFont}"
           class="card-body message-card message">
        <markdown data="{{ viewService.decodeHtml(viewService.singleMessage.contents) }}" emoji></markdown>
      </div>
    </div>
  </div>
</div>
<div class="row justify-content-center my-5">
  <button (click)="goToMessages()" class="btn btn-primary">Go back to all messages</button>
</div>
