<div class="container">
    <div class="row py-5 justify-content-center" item="title">
        <h1 style="text-align: center;">Your friend will receive your message soon!</h1>
    </div>
    <div class="row justify-content-center" id="contents">
        <div class="col-4 card shadow border p-3">
            <div class="vertical-center">
                <h2 align=center><a href="login">Back to your profile</a></h2>
            </div>
        </div>
        <div class="col-4 card shadow border p-3">
            <a href="login" class="vertical-center">
                <h2 align=center>What is virtrolio?</h2>
            </a>
        </div>
    </div>
</div>

