<div class="container mt-4">
    <div class="row mx-3 py-3 mt-sm-5 justify-content-center" item="title">
        <h1 id="title-text">Your friend will receive your message soon!</h1>
    </div>
    <div class="row mx-2 mt-3 mb-3 justify-content-center">
        <img src="../../assets/images/MessageSent-Light.svg" id="graphic">
    </div>
    <div class="row justify-content-center mb-5" id="buttons">
        <button type="button" class="col-sm-4 col-md-3 btn btn-primary">Your Profile</button>
        <button type="button" class="col-sm-4 col-md-3 btn btn-primary">Home Page</button>
    </div>
    <div class="m-3"><br></div>
</div>