<div class="container">
    <div class="row py-5">
        <h1 align=center>Hello! We see you’re trying to sign your friend’s yearbook. We need you to sign in first.
        </h1>
    </div>
    <div class="row justify-content-center" id="contents">
        <div class="col-4 card shadow border p-3 m-5">
            <h2 align=center>Sign into virtrolio to sign your friend’s yearbook!</h2>
            <div class="row mt-4">
                <div class="col-12 d-flex justify-content-center">
                    <button type="button" class="btn btn-outline-primary" disabled="disabled">
                        Sign in with 
                        <img src="../../assets/images/icons/google.svg" alt="" width="32" height="32">
                    </button>
                </div>
            </div>
        </div>
        <div class="col-4 card shadow border p-3 m-5">
            <a href="login" class="">
                <h2 align=center>What is virtrolio?</h2>
            </a>
        </div>
    </div>
</div>

