<div class="container">

    <div id='about-us'>
        <h1 align=center class='mt-3 mb-3'>About Us</h1>
        <div class='row'>
            <div class='col-md-4'>
                <img class='img-fluid' alt='Generic highschoolers' src='./../../assets/images/high_schoolers.jpg' /> 
            </div>
            <div class='col-md-8'>
                <p>
                    We’re a group of undergraduate university students who remember exactly what it was like back in high school, and we especially remember what those last few months of senior year meant to many of us. With the COVID-19 pandemic leading to lockdowns and social distancing, we wanted to give a way for graduating students (and others!) to be able to send each other messages in a medium that they can cherish with them as they continue on in their journeys.
                </p>
                <p>
                    Also a lot of us need programming experience to flex on our resumes to get a job in this economy, so this is for that too.
                </p>
            </div>
        </div>
    </div>
    
    <div id='meet-the-team'>
        <h1 align="center" class='mt-5'>Meet the Team</h1>

        <div class='row'>
            <p>
                This is where our pictures can go
            </p>
        </div>

    </div>
    
   
</div>

