<div class="container">
  <h1 align=center>Contact works!</h1>
  <p>Have a problem? <a href="https://github.com/virtrolio/virtrolio-site/issues/new" class="">Open an issue on our GitHub</a> or email us at <a href="mailto:virtrolio.team@gmail.com">virtrolio.team@gmail.com</a>.</p>
  <p>Want to contribute? Open a pull request <a href="https://github.com/virtrolio/virtrolio-site">on our repository</a></p>
  <div class="row justify-content-center mx-3 mt-3">
    <img src="../../../assets/images/ContactUs.svg" alt="pink cloud graphic" id="graphic">
  </div>
</div>

