<div class="container">
  <h1 class="pt-3" id="title">Contact Us</h1>
  <br>
  <div class="row justify-content-center">
    <div class="col-lg-6 col-md-7">
      <p>
        <strong>Got a question, comment, suggestion or concern?</strong><br>
        <a href="https://github.com/virtrolio/virtrolio-site/issues/new" target="_blank">Open an issue on
        our GitHub</a> or email us at
        <a href="mailto:virtrolio.team@gmail.com" target="_blank">virtrolio.team@gmail.com</a>.
      </p>
      <p>
        <strong>Looking for our social media?</strong><br>
        You're welcome to visit and contact us through our <a href="https://www.facebook.com/virtrolio/" target="_blank">
        Facebook</a> and <a href="https://www.instagram.com/virtrolio/" target="_blank">Instagram</a> pages.
      </p>
      <p>
        <strong>Want to contribute to our project?</strong><br>
        <a href="https://github.com/virtrolio/virtrolio-site" target="_blank">Open a pull
        request</a> on our repository.
      </p>
    </div>
  </div>
  <div class="row justify-content-center mx-3 mt-3">
    <img src="../../../assets/images/ContactUs.svg" alt="pink cloud graphic" id="graphic">
  </div>
</div>
