
#signing-box {
	width: 50em;
	height: 10em;
	resize: none; /*both;*/
	margin-top: 2em;
	margin-left:auto;
	margin-right:auto;
}

#options > * {
	margin: 2em 0.5em;
}

.format-icons {
	width:1.8em;
	height:1.8em;
}


