.navbar {
    background-color: #4488ff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.profile-pic {
    background: white;
    height: 2.5em;
    width: 2.5em;
    border-radius: 100%;
}

#navbar_title {
    font-family: Montserrat;
    font-weight: regular;
    color: white;
}