<div class="container py-5 mb-5 montserrat">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="card shadow border p-3">
        <div class="card-body">
          <h2 class="mb-2">Settings</h2>
          <hr/>
          <h2>Download your Data</h2>
          <p>
            Clicking the button below will allow you to download all data associated with you that is stored
            on Virtrolio. This data includes your user data and messages that you have received.
            Note that this does not include messages written <b>by</b> you, as those messages are owned
            by the message recipient.
          </p>
          <p>
            The data will be provided in one of several file formats including .zip, .json, .csv, .txt or .xlsx.
            You may need additional software to open some of these file types.
            <u>Virtrolio will not make any recommendations on what software to use.</u>
          </p>
          <p><b>Clicking the button below will generate your data. Please ensure you want to proceed
            before clicking the button.</b></p>
          <button type="button" class="btn btn-info" (click)="generateDownloads()">Request Data
          </button>
          <hr/>
          <h2>Delete Your Virtrolio Account</h2>
          <h6><b>READ CAREFULLY:</b></h6>
          <p>The button below will delete your account on Virtrolio, the data associated with your account,
            and any messages that you have received. It will NOT delete messages sent by you since those messages
            are owned by the message recipient. If you would like these to be deleted, please ask the message recipient
            to delete it.</p>
          <p><b>By clicking the button below, I understand that my data will be removed IMMEDIATELY.
            I also understand that I will NOT be able to recover, download or otherwise access my data
            after it is deleted.</b></p>
          <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-error">Delete
            Account
          </button>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="download" tabindex="-1" role="dialog"
     aria-labelledby="download-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download-label">Data Export</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Your data has been prepared. Please use the buttons below to download your data.</p>
        <p><b>{{ exportErrorText }}</b></p> <!-- Error text is also here in case the error modal doesn't show up -->
      </div>
      <div class="modal-footer">
        <a class="btn btn-info" title="Download User Data" [href]="downloadUserData" download="user.json">
          Download User Data</a>
        <a class="btn btn-info" title="Download Messages" [href]="downloadMessagesData" download="messages.json">
          Download Messages</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="download-error" tabindex="-1" role="dialog"
     aria-labelledby="download-error-label" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="download-error-label">Data Export Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Oops! It looks like something went wrong during the data export.</p>
        <p>Here are the details of the error that you can pass along to our team
          through the <a routerLink="/contact" data-dismiss="modal">Contact Us</a> page if required:</p>
        <p><b>{{ exportErrorText }}</b></p>
        <p><em>Please close this window and try again.</em></p>
        <p>Also, make sure that your internet connection is working properly,
          and that there aren't any firewalls on your computer that could be blocking the download.</p>
        <p>If the error persists, please click the button below to send an email to the support team,
          or email us directly at <a href="mailto:virtrolio.team@gmail.com" target="_blank">virtrolio.team@gmail.com</a>.
        </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="mailto:virtrolio.team@gmail.com" target="_blank">Email Us</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal"
                data-toggle="modal" data-target="#delete-error-modal">Close
        </button>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="delete-error" tabindex="-2" role="dialog" aria-labelledby="delete-error-label"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="delete-error-label">Account Deletion Error</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Oops! It looks like something went wrong during the account deletion.</p>
        <p><em>Please close this window and try again.</em></p>
        <p>Also, make sure that your internet connection is working properly,
          and that there aren't any firewalls on your computer that could be causing issues.</p>
        <p>If the error persists, please click the button below to send an email to the support team,
          or email us directly at <a href="mailto:virtrolio.team@gmail.com" target="_blank">virtrolio.team@gmail.com</a>.
        </p>
      </div>
      <div class="modal-footer">
        <a type="button" class="btn btn-primary" href="mailto:virtrolio.team@gmail.com" target="_blank">Email Us</a>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
