<div class="container">
  <h1 class="text-center mt-3 mb-3">Privacy Policy</h1>
  <div class="alert alert-primary" role="alert">
    Last updated: June 16, 2021
  </div>
  <h3>SUMMARY</h3>
  <p>
    We take your privacy very seriously and commit to being transparent about
    how we use the data we collect. This data broadly falls under "Personal" and
    "Device" information. First and foremost, we do not and will never sell or
    share any of your data with third-party advertisers. We only collect
    personal information essential for making online yearbook signings possible,
    including your name, email, profile picture, and of course, the messages you
    ask us to deliver. Similarly, we only collect device information needed to
    make the website work smoothly and securely. Sending and receiving messages
    works like normal yearbook signing. Once you send something, it becomes the
    property of the receiver. However, you are always responsible for the
    contents of the messages you send. This summary is for convenience only and
    does not supersede the full policy; please read the terms below carefully.
  </p>
  <h3>OVERVIEW</h3>
  <p>
    This Privacy Policy describes how your personal information is collected,
    used, and shared when you visit
    <a href="https://virtrolio.web.app" target="_blank"
      >https://virtrolio.web.app</a
    >
    (the “Site”).
  </p>
  <h3>DEVICE INFORMATION WE COLLECT</h3>
  <p>We collect Device Information using the following technologies:</p>
  <ul>
    <li>
      “Cookies” are data files that are placed on your device or computer and
      often include an anonymous unique identifier. For more information about
      cookies, and how to disable cookies, visit
      <a href="http://www.allaboutcookies.org" target="_blank"
        >http://www.allaboutcookies.org</a
      >.
    </li>
    <li>
      “Log files” track actions occurring on the Site, and collect data
      including your IP address, browser type, Internet service provider,
      referring/exit pages, and date/time stamps.
    </li>
    <li>
      “Web beacons,” “tags,” and “pixels” are electronic files used to record
      information about how you browse the Site.
    </li>
    <li>
      Google Analytics also collects device information through us; see SHARING
      YOUR PERSONAL INFORMATION for more details.
    </li>
  </ul>
  <h3>PERSONAL INFORMATION WE COLLECT</h3>
  <p>
    “Personal Information” refers to any of the information identified in this
    section. When you sign up or sign in with us we collect certain information
    from you, including your name, email address, and profile picture.
  </p>
  <h5>HOW DO WE USE YOUR PERSONAL INFORMATION?</h5>
  <p>
    We use your Personal Information in order to keep track of what email
    addresses have an account with us, what email addresses have signed others’
    virtrolios, and what name and profile picture to display when someone reads
    your message, among other applications.
  </p>
  <p>
    We use the Device Information that we collect to help us screen for
    potential risk and fraud (in particular, your IP address), and more
    generally to improve and optimize our Site (for example, by generating
    analytics about how our customers browse and interact with the Site, and to
    assess the effectiveness of our marketing and advertising campaigns).
  </p>
  <h5>SHARING YOUR PERSONAL INFORMATION</h5>
  <p>
    We share your Personal Information with third parties to help us use the
    information as described above. For example, we use Google Firebase to host
    our service and store your data, including messages which you author or
    receive. We also use Google Analytics to help us understand how our
    customers use the Site. Additionally, we make use of third-party sign-in
    providers such as Google in order to authenticate users who use our service.
    This means that we provide Google with certain parts of your data, which may
    be stored on servers outside your country. We only collect personal data
    that is essential to the core functionality of our Site. In addition, some
    anonymous data is used by us and relevant third-parties for analytical
    purposes. Your acceptance of our
    <a href="../terms-of-service">Terms of Service</a> and other relevant
    policies gives Virtrolio the right to share user and website data, in the
    manner described, to enable these services.
  </p>
  <p>
    Visit the following links for more information on how Google uses your
    information:
  </p>
  <ul>
    <li>
      <a href="https://www.google.com/intl/en/policies/privacy" target="_blank">
        https://www.google.com/intl/en/policies/privacy</a
      >
    </li>
    <li>
      <a
        href="https://policies.google.com/technologies/partner-sites"
        target="_blank"
      >
        https://policies.google.com/technologies/partner-sites</a
      >
    </li>
    <li>
      <a href="https://cloud.google.com/terms/" target="_blank">
        https://cloud.google.com/terms/</a
      >
    </li>
  </ul>
  <p>
    You can also opt-out of Google Analytics here:
    <a href="https://tools.google.com/dlpage/gaoptout" target="_blank"
      >https://tools.google.com/dlpage/gaoptout</a
    >.
  </p>
  <p>
    Finally, we may also share your Personal Information to comply with
    applicable laws and regulations, to respond to a subpoena, search warrant or
    other lawful request for information we receive, or to otherwise protect our
    rights.
  </p>
  <h3>DO NOT TRACK</h3>
  <p>
    We do not alter our Site’s data collection and use practices when we see a
    Do Not Track signal from your browser.
  </p>
  <h3>DATA OWNERSHIP & RETENTION</h3>
  <p>
    Our data ownership policies are designed to emulate real-life yearbook
    signings. By using our Service, you agree to your message text, message
    attributes and any attached images (collectively referred to hereafter as
    your “messages” or a “message”) being governed by the following policy.
  </p>
  <p>
    Once you (the “sender”) send a message, you will no longer be able to modify
    your message, delete it, or save it, so please do so beforehand. By sending
    a message through our service to a person (the “receiver”), you agree to
    transfer ownership of the data in your message to that person. If you, the
    sender, delete your Virtrolio account, your message data will remain on our
    servers under the ownership of the receiver unless deleted directly by us or
    by the receiver. Your content will not be publicly displayed or otherwise
    distributed by us but may be viewed by administrators and developers in
    order to provide and develop a better service.
  </p>
  <p>
    By receiving a message, you gain control over certain, but not all, aspects
    of that message. The receiver is the only user with the ability to delete a
    message (that they have received), and if a receiver chooses to delete their
    Virtrolio account and all their data, all messages they have received from
    other users will also be deleted. Modification of received messages is
    neither offered nor allowed by our platform.
  </p>
  <p>
    If you, the sender, create, upload, or otherwise disseminate content through
    Virtrolio that is deemed not to comply with our Terms or relevant policies
    and laws, the onus for the act remains on you regardless of the transfer of
    data ownership. The contents of a message are still associated with your
    account even after it has been sent to a receiver, and any investigation,
    inquiry, and consequences will be directed towards you, the sender.
    Receivers have the ability and right to flag or report a message they have
    received.
  </p>
  <h3>YOUR RIGHTS</h3>
  <p>
    If you are a European resident, you have the right to access personal
    information we hold about you and to ask that your personal information be
    corrected, updated, or deleted. Please contact us at the address below for
    more information.
  </p>
  <h3>CHANGES</h3>
  <p>
    We may update this privacy policy from time to time in order to reflect, for
    example, changes to our practices or for other operational, legal or
    regulatory reasons.
  </p>
  <h3>CONTACT US</h3>
  <p>
    For more information about our privacy practices, or if you have questions,
    comments, or complaints, please contact us by e-mail at
    <a href="mailto:virtrolio.team@gmail.com" target="_blank"
      >virtrolio.team@gmail.com</a
    >
    or visit our Contact Us page for alternative options.
  </p>
  <br />
</div>
