#img-upload-input {
  height: 100%;
  width: 100%;
}

.image-buttons {
  margin-top: 1em;
}

#no-images-graphic {
  max-width: 100%;
}

#embed-photo-div {
  height: 20em;
}

#no-images-graphic,
.uploaded-image {
  max-height: 13em;
  object-fit: contain;
}
