<div
  bsModal
  #imageModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="embed-photo-title">Add up to three images!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="hideImageModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-error-alert></app-error-alert>
      <div class="modal-body d-md-flex p-5" id="embed-photo-div">
        <div class="col-md-12 my-6 px-lg-5 px-3 vertical-center text-center">
          <div class="col-md-12 text-center m-2" id="drag-upload">
            <label *ngIf="!selectedImagesURLs.length">No images selected</label>
            <img
              class="col-4"
              *ngFor="let url of selectedImagesURLs"
              [src]="url"
              alt="selected image"
            />
          </div>
          <div class="image-buttons">
            <button
            class="btn btn-primary"
            id="select-images-btn"
            (click)="imgUpload.click()"
          >
            Add Images
          </button>
          <input
            type="file"
            accept="image/*"
            class="file-upload d-none"
            id="img-upload"
            (change)="onSelectFiles($event)"
            multiple
            #imgUpload
          />
          <button
            type="button"
            class="btn btn-secondary mx-2"
            (click)="this.selectedImagesURLs = []"
          >
            Clear Images
          </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="row w-100">
          <div class="col-12 p-0">
            <button
              type="button"
              class="btn btn-primary h-100 float-right"
              (click)="hideImageModal()"
            >
              Save
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
