<div
  bsModal
  #imageModal="bs-modal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-labelledby="dialog-child-name"
>
  <div class="modal-dialog modal-dialog-centered modal-lg" role="dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="embed-photo-title">Add up to three images!</h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
          (click)="hideImageModal()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <app-error-alert></app-error-alert>
      <div class="modal-body d-md-flex p-4" id="embed-photo-div">
        <div class="col-md-12 my-6 px-lg-5 px-3 vertical-center text-center">
          <div class="col-md-12 text-center" id="drag-upload">
            <label *ngIf="!selectedImagesURLs.length">No images selected</label>
            <img
              class="col-4"
              *ngFor="let url of selectedImagesURLs"
              [src]="url"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <div class="img-upload-btn-wrapper bg-primary btn-sm mr-auto">
          <button class="btn btn-primary" id="select-images-btn">
            Select Images
          </button>
          <input
            type="file"
            accept="image/*"
            class="file-upload"
            name="imgupload"
            id="imgupload"
            (change)="onSelectFiles($event)"
            multiple
          />
        </div>
        <button
          type="button"
          class="btn btn-secondary"
          (click)="hideImageModal()"
          data-dismiss="modal"
        >
          Cancel
        </button>
        <button type="button" class="btn btn-primary">Upload</button>
      </div>
    </div>
  </div>
</div>
