<!-- Footer -->
<!--suppress HtmlUnknownTarget -->
<footer class="vertical-center align-items-center" id="footer">
  <div>
    <a class="m-4" href="https://www.facebook.com/virtrolio/" target="_blank">
      <img
        src="../../../assets/images/icons/facebook.svg"
        alt="Our Facebook"
        class="social-icon"
      />
    </a>

    <a class="m-4" href="https://www.instagram.com/virtrolio/" target="_blank">
      <img
        src="../../../assets/images/icons/instagram.svg"
        alt="Our Instagram"
        class="social-icon"
      />
    </a>

    <a class="m-4" href="mailto:virtrolio.team@gmail.com" target="_blank">
      <img
        src="../../../assets/images/icons/mail.svg"
        alt="Our Email"
        class="social-icon"
      />
    </a>
  </div>
  <div id="legal">
    <a href="/terms-of-service">Terms of Service</a> |
    <a href="/privacy-policy">Privacy Policy</a> | © Virtrolio 2020
  </div>
</footer>
