<!-- Footer -->
<footer class="vertical-center align-items-center" id="footer">
  <div>
    <a class="m-4" href="https://www.facebook.com/virtrolio/" target="_blank">
      <img src="../../../assets/images/icons/facebook.svg" alt="Our Facebook" width="32" height="32">
    </a>

    <a class="m-4" href="https://www.instagram.com/virtrolio/" target="_blank">
      <img src="../../../assets/images/icons/instagram.svg" alt="Our Instagram" width="32" height="32">
    </a>

    <a class="m-4" href="mailto:virtrolio.team@gmail.com" target="_blank">
      <img src="../../../assets/images/icons/mail.svg" alt="Our Email" width="32" height="32">
    </a>
  </div>
  <div id="legal">
    <a routerLink="/terms-of-service">Terms of Service</a> |
    <a routerLink="/privacy-policy">Privacy Policy</a> |
    ©virtrolio 2020
  </div>
</footer>
