<div class="container py-5">
    <div class="row">
        <div class="col-7">
            <div class="card shadow border-0 p-3">
                <div class="card-body py-5">
                  <p>Google Login</p>
                </div>
            </div>
        </div>
        <div class="col-5">
            <div class="card shadow border-0 p-3">
                <div class="card-body">
                  <h2 class="mb-3">What is "virtrolio"?</h2>
                  <p class="lead"> <em>Virtrolio</em> stands for ‘virtual portfolio’ and is an online version of those pages in your yearbook that you use to write messages to your friends. You can create your own virtrolio, share it with friends, and have them write messages on it. Whenever you want, you can view your virtrolio, download it, and make it private.
                  </p>
                  <p>Tentative release: Mid-summer 2020.</p>
                  <p>Stay tuned and contact us at dabeerazeez@gmail.com if you have any questions.</p>
                  <img src="../../assets/images/navbar-logo.png" alt="" width="64" height="64">
                </div>
            </div>
        </div>
    </div>
</div>


