<div class='container'>
    <h1 class='text-center mt-3 mb-3'>Terms of Service</h1>

    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean velit massa, consequat quis nisl eget, venenatis interdum odio. In hac habitasse platea dictumst. In eros purus, tincidunt in vestibulum nec, ultricies eget lectus. Nullam pretium finibus sem, non euismod neque mollis in. Quisque sagittis ullamcorper tellus, et tincidunt velit ornare id. Interdum et malesuada fames ac ante ipsum primis in faucibus. Mauris luctus eleifend ex at varius. Integer sit amet lectus consectetur, elementum mauris non, efficitur diam. Vivamus quis eros quam. Donec ultrices tempus mauris, id laoreet arcu vestibulum vitae. Mauris congue posuere tellus in efficitur. Integer sollicitudin lacinia cursus. Pellentesque lobortis iaculis posuere.
    </p>
    <p>
        Nullam scelerisque augue id tempus finibus. Proin sed mauris ultricies, ultrices nisi non, bibendum arcu. Nulla posuere fermentum neque eget convallis. Sed eget egestas nulla, at vehicula nunc. Aliquam finibus dolor arcu, vel bibendum orci sodales sed. Mauris rhoncus tortor lorem, vitae egestas magna aliquam eu. Sed fringilla elementum lacus, vel ullamcorper ante malesuada sed. Sed varius ornare odio, molestie interdum elit ullamcorper eget. Aenean lobortis suscipit lectus, et mattis nisi vehicula sit amet. Ut id odio ut neque accumsan tempus quis et diam. Mauris dolor turpis, pulvinar vulputate rutrum in, pretium quis nisi. Fusce rhoncus metus placerat, gravida nisl vehicula, efficitur nisi. Nam sagittis non lorem eget tincidunt. Sed nibh nunc, pretium vitae vestibulum in, dapibus a nulla. In mollis ornare enim efficitur pellentesque. Nullam sapien ante, ultricies vitae sodales ut, imperdiet in ligula.
    </p>
    <ol>
        <li>asdf</li>
        <li>Privacy</li>
        <li>Selling data on dark web</li>
    </ol>
    <p>
        Cras sit amet pretium enim. Vivamus pretium dui vel ante scelerisque, eget congue neque commodo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Pellentesque eget consectetur nunc, et ullamcorper orci. Vivamus hendrerit finibus enim a tristique. Fusce bibendum et purus sed laoreet. Suspendisse condimentum quis lectus vel convallis. Quisque dapibus hendrerit orci, eu maximus dui finibus in. Cras nec felis at arcu pulvinar rutrum sit amet nec ante. Integer lobortis tempor velit non blandit. Morbi vitae fermentum est. Fusce rutrum massa purus, ut molestie felis bibendum tempus. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Nam tincidunt eget turpis nec vulputate.
    </p>
    <p>
        Mauris convallis at nisi ut finibus. Etiam in turpis a libero malesuada imperdiet vitae cursus nisi. Nam gravida commodo nisl, consequat convallis nisi congue eu. Donec interdum imperdiet sem, id dictum dui malesuada in. Ut quis tincidunt ligula, ut cursus nisi. Vestibulum vestibulum at nunc nec accumsan. Nulla malesuada leo quis lorem malesuada pharetra. Donec id tincidunt massa.
    </p>
    <p>
        Mauris scelerisque mi augue, ut vehicula dolor eleifend ac. Curabitur mollis feugiat lectus, pharetra mattis nulla iaculis in. Sed ac mi mattis, suscipit nunc eget, egestas nisl. Integer interdum tincidunt mauris eu faucibus. Morbi mollis rhoncus ultrices. Ut semper mauris nunc, eget fermentum lacus lacinia sit amet. Curabitur vitae fermentum risus. Mauris dictum ut lorem et vulputate. Duis non eleifend nisi. Etiam placerat dignissim nunc luctus pellentesque. Vestibulum vitae fringilla neque, porttitor porta nisi. Nullam molestie luctus feugiat. Phasellus malesuada justo et facilisis ultrices.
    </p>
</div>