@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --accent: #fa8072;
  --dark-accent: #353535;
}

h2 {
    font-family: Montserrat;
}

p {
  font-family: Montserrat;
}

.bg-primary {
  background-color: var(--accent) !important;
}

.vertical-center {
  margin: 0;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.center-children > * {
  display: flex;
  justify-content: center;
  align-items: center;
}
