#virtrolio-outer {
    /* virtrolio book */
    height: 35em;
}

#virtrolio-title {
    /* Title of the virtrolio */
    height: 10em;
}

#friend-link-body {
    text-align: center;
}

#friend-link-body > * {
    margin: 1em;
}

#friend-link-field {
    width: 15em;
}

#buttons > *.row > * {
    /* Each individual button will have these properties: */
    height: 4em;
    width: 9em;
    margin: 1.2em;
}

a.clickable-card:hover {
    color:black;
}