<div class="container-fluid vertical-center">
  <div class="row d-flex justify-content-center">

        <!-- Div enclosing virtrolio cover -->
        <div class="col-xl-4 col-lg-5 col-md-6 col-sm-8 mt-4 mt-md-0" id="virtrolio-outer-div">
            <a class="clickable-object" routerLink="pagenotfound">
                <div class="shadow p-3 mb-5 bg-primary rounded" id="virtrolio-outer">
                    <div class="bg-light p-3 mt-4 m-4 rounded vertical-center" id="virtrolio-title">
                        <h1>2019-2020</h1>
                    </div>
                    <div class="mt-5">
                        <h2 id="usersVirtrolio">User's virtrolio</h2>
                    </div>
                </div>
            </a>
        </div>
      </a>
    </div>

    <!-- Side buttons -->
    <div class="col-md-2 col-sm-3 px-2 mt-4 mt-md-0 vertical-center">
      <div id="buttons">
        <div class="row">
          <button class="btn-lg btn-primary" type="button">Export to PDF</button>
        </div>
        <div class="row">
          <button class="btn-lg btn-primary" type="button" data-toggle="modal" data-target="#linkgen">
            Sharing Link
          </button>
        </div>
        <div class="row">
          <button class="btn-lg btn-primary" type="button" routerLink="settings">Settings</button>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Friend Link Modal -->
<div class="modal fade" id="linkgen" tabindex="-1" role="dialog" aria-labelledby="friendLinkModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <!-- Modal Title -->
                <h5 class="modal-title" id="linkGenTitle">
                    Here is your Friend Link!
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id='friend-link-body'>
                <!-- later we need to replace the placeholder url with their id-->
                <label for="friend-link-field"><b>Your Link</b></label>
                <input type="text" #friendLink value="virtrolio.com/placeholder" readonly id="friend-link-field">
                <button type="button" #copyButton class="btn btn-primary" (click)="copyLink(friendLink, copyButton)">Copy</button>
            </div>
        </div>
    </div>
  </div>
</div>
