#test {
    /* background-color: rgb(135, 235, 135);
    border: 2px solid black; */
}

#virtrolio-outer {
    /* virtrolio book */
    height: 35em;
    margin: 3.5em 0;
}

#virtrolio-title {
    /* Title of the virtrolio */
    height: 10em;
}

#buttons > *.row > * {
    /* Each individual button will have these properties: */
    height: 4em;
    width: 9em;
    margin: 1.2em;
}