<div class="container-fluid">
    <div class="row"> <!-- div.row>div.col-3#test*4{test} -->
        <div class="col-3" id="test"></div>
        <div class="col-3" id="test">
            <div class="shadow p-3 mb-5 bg-primary rounded" id="virtrolio-outer">
                <div class="bg-light p-3 m-3 rounded">
                    <h1 align=center>2019-2020</h1>
                </div>
            </div>
        </div>
        <div class="col-3" id="test">
            <div class="row"><button class="btn-lg btn-primary" type="button">Button01</button></div>
            <div class="row"><button class="btn-lg btn-primary" type="button">Button02</button></div>
            <div class="row"><button class="btn-lg btn-primary" type="button">Button03</button></div>
        </div>
        <div class="col-3" id="test"></div>
    </div>
</div>
