.navbar {
  background: var(--accent);
  background: linear-gradient(45deg, rgba(250, 128, 114, 1) 0%, rgba(251, 91, 91, 1) 100%);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: var(--navbar-height);
}

#navbar_title {
  font-family: Montserrat, sans-serif;
  font-weight: 400;
  color: white;
}

#logout-text {
  color: red;
}

.navbar-nav li a {
  color: #FFFFFF;
  opacity: 75%;
}

.navbar-nav li:hover a:hover {
  color: #FFFFFF;
  opacity: 100%;
}

.profile-pic:hover {
  opacity: 75%;
}