<div id="about-us" class="jumbotron">
  <h1 id="title">About Us</h1>
  <div class="row justify-content-center">
    <div class="col-md-4 vertical-center">
      <img class="img-fluid" alt="pink cloud graphic" src="../../../assets/images/logo_reg_transparent.png"/>
    </div>
    <div class="col-md-4 mt-3 mt-md-0 vertical-center">
      <p class="text-justify">
        We’re a group of undergraduate university students who remember exactly what it was like back in high school
        (The Woodlands Secondary School, to be exact, woot woot),
        and we especially remember what those last few months of senior year meant to many of us. With the COVID-19
        pandemic leading to lockdowns and social distancing, we wanted to give a way for graduating students (and
        others!) to be able to send each other messages in a medium that they can cherish with them as they continue on
        in their journeys.
      </p>
    </div>
  </div>
</div>

<div class="container">
  <div class="mb-3" id="meet-the-team">
    <h1 class="mb-4" id="meet-the-team-title">Meet the Team!</h1>

    <!-- Arvind's Row-->
    <div class="row d-flex">

      <!-- Arvind's Image -->
      <div class="col-md-2 order-md-2">
        <img alt="Picture of Arvind Nagabhirava" src="{{Arvind.regularLink}}" class="img-fluid" (mouseenter)="Arvind.showSilly = !Arvind.showSilly"
          *ngIf='Arvind.showSilly else ArvindSilly'>
        <ng-template #ArvindSilly>
          <img alt="Silly picture of Arvind Nagabhirava" src="{{Arvind.sillyLink}}" class="img-fluid" (mouseleave)="Arvind.showSilly = !Arvind.showSilly">
        </ng-template>
      </div>

      <!-- Arvind's Blurb -->
      <div class="col-md-7 order-md-3 mt-3 mt-md-0">
        <p class="text-justify">Arvind is Virtrolio's ideator. He is well known for his compassion and spectacular,
          radiant personality that always lifts the spirits of those around him. He is known to have an undying love for
          musicals and mathematics. He is currently studying Computer Science
          at the University of Waterloo. In his spare time, he loves to practice his nunchucks and his tiechwaondoe
          (especially <s>on</s> with his beloved friends)!</p>
      </div>

      <!-- Arvind's Contact Info. -->
      <div class="col-md-3 order-md-1">
        <p><strong>Contact Arvind:</strong></p>
        <ul>
          <li>Instagram: @_airwind</li>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/arvindn01/">Arvind Nagabhirava</a></li>
        </ul>
      </div>

    </div>
    <hr />

    <!-- Eric's Row-->
    <div class="row d-flex">

      <!-- Eric's Image -->
      <div class="col-md-2 order-md-2">
        <img alt="Picture of Eric Chen" src="{{Eric.regularLink}}" class="img-fluid" (mouseenter)="Eric.showSilly = !Eric.showSilly"
          *ngIf='Eric.showSilly else EricSilly'>
        <ng-template #EricSilly>
          <img alt="Silly picture of Arvind Nagabhirava" src="{{Eric.sillyLink}}" class="img-fluid" (mouseleave)="Eric.showSilly = !Eric.showSilly">
          <img alt="Silly picture of Eric Chen" src="{{ Eric.sillyLink }}" class="img-fluid" (mouseleave)="Eric.showSilly = !Eric.showSilly">
        </ng-template>
      </div>

      <!-- Eric's Blurb -->
      <div class="col-md-7 order-md-3 mt-3 mt-md-0">
        <p class="text-justify">Eric is our fearless technical lead, and we would follow him into hellheim and back if
          we had to. But not only that, Eric enjoys his bike rides and <i>dank memes</i> like there is no tomorrow. Eric
          is brilliant, motivated, and occasionally transforms into the real-life embodiment of the angry-react emoji.
          Eric is extremely proficient in Angular and other coding languages. To tell the truth, his expertise and
          leadership is highly valued by the team. Eric is currently studying Software Engineering at UOttawa.</p>
      </div>

      <!-- Eric's Contact Info. -->
      <div class="col-md-3 order-md-1">
        <p><strong>Contact Eric:</strong></p>
        <ul>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/ericchen08/">Eric Chen</a></li>
          <li>Github: <a href="https://github.com/ricetech">ricetech</a></li>
          <li>Instagram: @the_ricetech</li>
        </ul>
      </div>

    </div>
    <hr />

    <!-- Dabeer's Row-->
    <div class="row d-flex">

      <!-- Dabeer's Image -->
      <div class="col-md-2 order-md-2">
        <img alt="Picture of Dabeer Abdul-Azeez" src="{{Dabeer.regularLink}}" class="img-fluid" (mouseenter)="Dabeer.showSilly = !Dabeer.showSilly"
          *ngIf='Dabeer.showSilly else DabeerSilly'>
        <ng-template #DabeerSilly>
          <img alt="Silly picture of Dabeer Abdul-Azeez" src="{{Dabeer.sillyLink}}" class="img-fluid" (mouseleave)="Dabeer.showSilly = !Dabeer.showSilly">
        </ng-template>
      </div>

      <!-- Dabeer's Blurb -->
      <div class="col-md-7 order-md-3 mt-3 mt-md-0">
        <p class="text-justify">Dabeer is an exceptional person with many talents and a wide variety of interests! He is
          known to have an undying love for musicals and chemistry. And equally so, he is plenty talented in both
          departments! Dabeer is currently studying IBiomed at McMaster University. In his spare time, he loves to
          practice singing, work on personal projects and hang out with his beloved friends! He is especially fond of
          dropping in on people unexpectedly, but pleasant surprises are always to be expected from Dabeer.</p>
      </div>

      <!-- Dabeer's Contact Info. -->
      <div class="col-md-3 order-md-1">
        <p><strong>Contact Dabeer:</strong></p>
        <ul>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/dabeerabdulazeez/">View Profile</a></li>
          <li>Github: <a href="https://github.com/GuyInFridge">GuyInFridge</a></li>
          <li>Instagram: @GuyInFridge</li>
          <li>Personal Website: <a href="https://dabeerazeez.wixsite.com/1p10portfolio">dabeerazeez.wixsite.com</a></li>
        </ul>
      </div>

    </div>
    <hr />

    <!-- Tommy's Row-->
    <div class="row d-flex">

      <!-- Tommy's Image -->
      <div class="col-md-2 order-md-2">
        <img alt="Picture of Tommy Huang" src="{{Tommy.regularLink}}" class="img-fluid" (mouseenter)="Tommy.showSilly = !Tommy.showSilly"
          *ngIf='Tommy.showSilly else TommySilly'>
        <ng-template #TommySilly>
          <img alt="Silly picture of Tommy Huang" src="{{Tommy.sillyLink}}" class="img-fluid" (mouseleave)="Tommy.showSilly = !Tommy.showSilly">
        </ng-template>
      </div>

      <!-- Tommy's Blurb -->
      <div class="col-md-7 order-md-3 mt-3 mt-md-0">
        <p class="text-justify">Tommy, better known as potatoES by the people of Terraria, Steam and Factorio, is an
          ABSOLUTE Legend! Tommy is studying Computer Science at the University of Waterloo and lived in the weirdest
          room in UWP for his first year. Tommy is also an avid rocketry enthusiast, having been a member of the
          rocketry team at the Woodlands and now at UW! He also has been biking and does push-ups, which is great
          strength training and cardio practice. Visit <a
            href="https://www.womenshealthmag.com/fitness/a22995307/cardio-exercises/">Women'sHealthMagazine.com</a> for
          more info on Tommy's stellar workout.</p>
      </div>

      <!-- Tommy's Contact Info. -->
      <div class="col-md-3 order-md-1">
        <p><strong>Contact Tommy:</strong></p>
        <ul>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/tommyhuang999">Tommy Huang</a></li>
          <li>Github: <a href="https://github.com/TommyHuang-dev">TommyHuang-dev</a></li>
          <li>Personal Website: <a href="https://tommyhuang.net/">tommyhuang.net</a></li>
        </ul>
      </div>

    </div>
    <hr />

    <!-- Janakitti's Row-->
    <div class="row d-flex">

      <!-- Janakitti's Image -->
      <div class="col-md-2 order-md-2">
        <img alt="Picture of Janakitti Ratana-Rueangsri" src="{{Janakitti.regularLink}}" class="img-fluid" (mouseenter)="Janakitti.showSilly = !Janakitti.showSilly"
          *ngIf='Janakitti.showSilly else JanakittiSilly'>
        <ng-template #JanakittiSilly>
          <img alt="Silly picture of Janakitti Ratana-Rueangsri" src="{{Janakitti.sillyLink}}" class="img-fluid"
            (mouseleave)="Janakitti.showSilly = !Janakitti.showSilly">
        </ng-template>
      </div>

      <!-- Janakitti's Blurb -->
      <div class="col-md-7 order-md-3 mt-3 mt-md-0">
        <p class="text-justify">Janakitti is the Gandalf of our team at Virtrolio. While a true technical and computer
          wizard at the keyboard and on Powerpoint, Janakitti is also the rope that ties the sac together. Janakitti is
          currently studying Software Engineering at the University of Waterloo. In his spare time, Janakitti is also
          known to be an extremely talented guitar player! You should also checkout his eccentric website <a
            href="http://janakitti.com">janakitti.com</a></p>
      </div>

      <!-- Janakitti's Contact Info. -->
      <div class="col-md-3 order-md-1">
        <p><strong>Contact Janakitti:</strong></p>
        <ul>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/janakittiratana/">Janakitti Ratana-Rueangsri</a></li>
          <li>Github: <a href="https://github.com/janakitti">Janakitti</a></li>
          <li>Instagram: @janakitti</li>
          <li>Snapchat: @janakitti</li>
          <li>Personal Website: <a href="http://janakitti.com">janakitti.com</a></li>
        </ul>
      </div>

    </div>
    <hr />

    <!-- John's Row-->
    <div class="row d-flex">

      <!-- John's Image -->
      <div class="col-md-2 order-md-2">
        <img alt="Picture of John Zhou" src="{{John.regularLink}}" class="img-fluid" (mouseenter)="John.showSilly = !John.showSilly"
          *ngIf='John.showSilly else JohnSilly'>
        <ng-template #JohnSilly>
          <img alt="Silly picture of John Zhou" src="{{John.sillyLink}}" class="img-fluid" (mouseleave)="John.showSilly = !John.showSilly">
        </ng-template>
      </div>

      <!-- John's Blurb -->
      <div class="col-md-7 order-md-3 mt-3 mt-md-0">
        <p class="text-justify">John is the fearless, heroic and noble creator of all the static pages you see on the
          Virtrolio site. In his
          domain, all browsers are welcome (with the exception of IE11) and are served with the very best static pages.
          John is currently studying Computer Science at the University of Waterloo. In his spare time, John enjoys
          baking fresh peanut-butter chocolate chip cookies and watching MasterChef Australia. John has also been taking
          swimming lessons to improve his swimming skills.</p>
      </div>

      <!-- John's Contact Info. -->
      <div class="col-md-3 order-md-1">
        <p><strong>Contact John:</strong></p>
        <ul>
          <li>LinkedIn: <a href="https://www.linkedin.com/in/johnzhou123/">John Zhou</a></li>
          <li>Github: <a href="https://github.com/johnzhoudev">johnzhoudev</a></li>
          <li>Instagram: @itsjon.zho</li>
        </ul>
      </div>

    </div>
  </div>
</div>
