<!--suppress HtmlUnknownTarget -->
<div class="pt-5 container">
  <div class="about-us-section">
    <div class="row">
      <div class="col-12 col-lg-8">
        <h1 class="mb-3 header-text">About us</h1>
        <p class="about-us-body">
          We’re a group of undergraduate university students who remember
          exactly what it was like back in high school (at The Woodlands
          Secondary School, to be exact, woot woot), and we especially remember
          what those last few months of senior year meant to many of us. With
          the COVID-19 pandemic leading to lockdowns and social distancing, we
          wanted to create an alternative way for graduating students (and
          others!) to be able to send each other messages in a medium that they
          can cherish with them as they continue on in their journeys.
          <br /><br />
          Want to get in touch with us? Visit the
          <a routerLink="/contact">Contact Us</a> page or check out our
          <a href="https://bit.ly/virtrolioYouT00b" target="_blank"
            >YouTube channel</a
          >. You can also sign the team's virtrolio by
          <a href="/signing?uid=6sXs48Uwj3ZSPX7JUPsuvdosfRm1&key=VirtrolioTeam">
            clicking here</a
          >.
        </p>
      </div>
      <div class="col-4 d-none d-lg-block">
        <div class="vertical-center about-us-img-container">
          <img
            alt="About us illustration"
            class="about-us-img"
            src="../../../assets/images/about.svg"
          />
        </div>
      </div>
    </div>
    <div class="row mt-3 mt-lg-5">
      <div class="col-4 d-none d-lg-block">
        <div class="vertical-center about-us-img-container p-5">
          <img
            alt="About us illustration"
            class="about-us-img"
            src="../../../assets/images/charity.svg"
          />
        </div>
      </div>
      <div class="col-12 col-lg-8">
        <h3 class="mb-3 header-text">Charity</h3>
        <p class="about-us-body">
          COVID-19 has affected people around the world and it has created
          problems far more pressing than an absence of yearbook signing. With
          this in mind, Virtrolio has decided to donate 5 cents for each of the
          first 2000 Virtrolio accounts created between June 15th, 2021 and June
          29th, 2021 to the
          <a
            href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/donate"
            target="_blank"
            >COVID-19 Solidarity Response Fund</a
          >. We personally guarantee that we will pay the full amount for the
          first 2000 accounts created in this period and if funds are available,
          we will try to match this amount for the next 1000 accounts. Thank you
          for your support.
        </p>
      </div>
    </div>
    <div class="row mt-3 mt-lg-5">
      <div class="col-12">
        <h3 class="mb-3 header-text">Meet the Team!</h3>

        <!-- Each Row-->
        <div *ngFor="let contributor of contributors">
          <div class="row d-flex my-2">
            <!-- Each Image -->
            <div class="col-md-2 order-md-2 image-container vertical-center">
              <img
                alt="Picture of {{ contributor.name }}"
                class="img-fluid regular-picture"
                src="{{ contributor.images.regular }}"
              />
              <img
                alt="Silly picture of {{ contributor.name }}"
                class="img-fluid silly-picture"
                src="{{ contributor.images.silly }}"
              />
            </div>

            <!-- Each Blurb -->
            <div class="col-md-7 order-md-3 mt-3 mt-md-0 vertical-center">
              <p
                class="text-justify about-us-body"
                [innerHTML]="contributor.blurb"
              ></p>
              <p class="about-us-body">
                <a href="{{ contributor.sharingLink }}" target="_blank"
                  >Click here to sign {{ contributor.name }}'s virtrolio.</a
                >
              </p>
            </div>

            <!-- Each Contact Info. -->
            <div class="col-md-3 order-md-1">
              <p>
                <strong>Contact {{ contributor.name }}</strong>
              </p>
              <div *ngIf="contributor.social.github">
                GitHub:
                <a
                  href="https://github.com/{{ contributor.social.github }}"
                  target="_blank"
                  >{{ contributor.social.github }}</a
                >
              </div>
              <div *ngIf="contributor.social.instagram">
                Instagram:
                <a
                  href="https://www.instagram.com/{{
                    contributor.social.instagram
                  }}"
                  target="_blank"
                  *ngIf="contributor.social.instagram"
                  >@{{ contributor.social.instagram }}</a
                >
              </div>
              <div *ngIf="contributor.social.linkedIn">
                LinkedIn:
                <a href="{{ contributor.social.linkedIn }}" target="_blank">{{
                  contributor.name
                }}</a>
              </div>
              <div *ngIf="contributor.social.website">
                Website:
                <a
                  href="https://{{ contributor.social.website }}"
                  target="_blank"
                  >{{ contributor.social.website }}</a
                >
              </div>
            </div>
          </div>

          <hr />
        </div>
      </div>
    </div>
  </div>
</div>
