<div id='about-us' class='jumbotron mt-4' >
    <h1 align="center" class='mb-3'>About Us</h1>
    <div class='row'>
        <div class='col-md-4'>
            <img class='img-fluid' alt='Team photo of virtrolio developers' src='./../../assets/images/groupPhotoPlaceholder.png' /> 
        </div>
        <div class='col-md-8 mt-3 mt-md-0'>
            <p class='text-justify'>
                We’re a group of undergraduate university students who remember exactly what it was like back in high school, and we especially remember what those last few months of senior year meant to many of us. With the COVID-19 pandemic leading to lockdowns and social distancing, we wanted to give a way for graduating students (and others!) to be able to send each other messages in a medium that they can cherish with them as they continue on in their journeys.
            </p>
        </div>
    </div>
</div>

<div class="container">
    
    <div id='meet-the-team'>
        <h1 align="center" class='mb-4'>Meet the Team!</h1>
        <div class='row d-flex'>
            <div class='col-md-2 order-md-2'>
                <img src='./../../../assets/images/about-us-developers/arvind.jpg' class='img-fluid' id='team-image-0' (mouseenter)="changePhotoSilly(0)" (mouseleave)="changePhotoRegular(0)">
            </div>
            <div class='col-md-7 order-md-3 mt-3 mt-md-0'>
                <p class='text-justify'>Arvind is Virtrolio's ideator. He is well known for his compassion and spectacular, radiant personality that always lifts the spirits of those around him. He is known to have an undying love for musicals and mathematics. Taking that love of Mathematics to the extreme, he is currently studying Mathematics at the University of Waterloo. In his spare time, he loves to practice his nunchucks and his tiechwaondoe (especially <s>on</s> with his beloved friends)!</p>
            </div>
            <div class='col-md-3 order-md-1'>
                <p><strong>Contact Arvind:</strong></p>
                <ul>
                    <li>Instagram: @_arwind</li>
                    <li>Email: <a href='mailto:arvindn1301@gmail.com'>arvindn1301@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class='row d-flex'>
            <div class='col-md-2 order-md-2'>
                <img src='./../../../assets/images/about-us-developers/dabeer.jpg' class='img-fluid' id='team-image-1' (mouseenter)="changePhotoSilly(1)" (mouseleave)="changePhotoRegular(1)">
            </div>
            <div class='col-md-7 order-md-1 mt-3 mt-md-0'>
                <p class='text-justify'>Dabeer is an exeptional person with many talents and a wide variety of interests! He is known to have an undying love for musicals and chemistry. And equally so, he is plenty talented in both departments! Dabeer is currently studying IBiomed at McMaster University. In his spare time, he loves to practice singing, work on personal projects and hang out with his beloved friends! He is especially fond of dropping in on people unexpectedly, but pleasant surprises are always to be expected from Dabeer.</p>
            </div>
            <div class='col-md-3 order-md-3'>
                <p><strong>Contact Dabeer:</strong></p>
                <ul>
                    <li>Linkedin: <a href='https://www.linkedin.com/in/dabeerabdulazeez/'>View Profile</a></li>
                    <li>Github: <a href='https://github.com/GuyInFridge'>GuyInFridge</a></li>
                    <li>Instagram: @GuyInFridge</li>
                    <li>Email: <a href='mailto:dabeerazeez@gmail.com'>dabeerazeez@gmail.com</a></li>
                    <li>Personal Website: <a href='https://dabeerazeez.wixsite.com/1p10portfolio'>dabeerazeez.wixsite.com</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class='row d-flex'>
            <div class='col-md-2 order-md-2'>
                <img src='./../../../assets/images/about-us-developers/eric.jpg' class='img-fluid' id='team-image-2' alt='Eric' (mouseenter)="changePhotoSilly(2)" (mouseleave)="changePhotoRegular(2)">
            </div>
            <div class='col-md-7 order-md-3 mt-3 mt-md-0'>
                <p class='text-justify'>Eric is our fearless technical lead, and we would follow him into hellheim and back if we had to. But not only that, Eric enjoys his bike rides and <i>dank memes</i> like there is no tomorrow. Eric is brilliant, motivated, and occasionally transforms into the real-life embodiment of the angry-react emoji. Eric is extremely proficient in Angular and other coding languages. To tell the truth, his expertise and leadership is highly valued by the team. Eric is currently studying Software Engineering at UOttawa.</p>
            </div>
            <div class='col-md-3 order-md-1'>
                <p><strong>Contact Eric:</strong></p>
                <ul>
                    <li>Linkedin: <a href='https://www.linkedin.com/in/ericchen08/?originalSubdomain=ca'>Eric Chen</a></li>
                    <li>Github: <a href='https://github.com/ricetech'>ricetech</a></li>
                    <li>Instagram: @the_ricetech</li>
                    <li>Snapchat: @NullPointerException</li>
                    <li>Email: <a href='mailto:the.ricetech@gmail.com'>the.ricetech@gmail.com</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class='row d-flex'>
            <div class='col-md-2 order-md-2'>
                <img src='./../../../assets/images/about-us-developers/tommy.jpg' class='img-fluid' id='team-image-3' alt='Tommy' (mouseenter)="changePhotoSilly(3)" (mouseleave)="changePhotoRegular(3)">
            </div>
            <div class='col-md-7 order-md-1 mt-3 mt-md-0'>
                <p class='text-justify'>Tommy, better known as potatoES by the people of Terraria, Steam and Factorio, is an ABSOLUTE Legend! Tommy is studying Computer Science at the University of Waterloo and lived in the weirdest room in UWP for his first year. Tommy is also an avid rocketry enthusiast, having been a member of the rocketry team at the Woodlands and now at UW! He also has been biking and does pushups, which is great strength training and cardio practice. Visit <a href='https://www.womenshealthmag.com/fitness/a22995307/cardio-exercises/'>Women'sHealthMagazine.com</a> for more info on Tommy's stellar workout.</p>
            </div>
            
            <div class='col-md-3 order-md-3'>
                <p><strong>Contact Tommy:</strong></p>
                <ul>
                    <li>Linkedin: <a href='https://www.linkedin.com/in/tommyhuang999'>Tommy Huang</a></li>
                    <li>Github: <a href='https://github.com/TommyHuang-dev'>TommyHuang-dev</a></li>
                    <li>Email: <a href='mailto:tommyhuang999@gmail.com'>tommyhuang999@gmail.com</a></li>
                    <li>Personal Website: <a href='https://tommyhuang.net/'>tommyhuang.net</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class='row d-flex'>
            <div class='col-md-2 order-md-2'>
                <img src='./../../../assets/images/about-us-developers/janakitti.png' class='img-fluid border' id='team-image-4' alt='Janakitti' (mouseenter)="changePhotoSilly(4)" (mouseleave)="changePhotoRegular(4)">
            </div>
            <div class='col-md-7 order-md-3 mt-3 mt-md-0'>
                <p class='text-justify'>Janakitti is the Gandalf of our team at Virtrolio. While a true technical and computer wizard at the keyboard and on Powerpoint, Janakitti is also the sac that holds the team together. Janakitti is currently studying Software Engineering at the University of Waterloo. In his spare time, Janakitti is also known to be an extremely talented guitar player! You should also checkout his eccentric website <a href='http://janakitti.com'>janakitti.com</a></p>
            </div>
            <div class='col-md-3 order-md-1'>
                <p><strong>Contact Janakitti:</strong></p>
                <ul>
                    <li>Linkedin: <a href='https://www.linkedin.com/in/janakittiratana/'>Janakitti Ratana-Rueangsri</a></li>
                    <li>Github: <a href='https://github.com/janakitti'>Janakitti</a></li>
                    <li>Instagram: @janakitti</li>
                    <li>Snapchat: @janakitti</li>
                    <li>Email: <a href='mailto:hello@janakitti.com'>hello@janakitti.com</a></li>
                    <li>Personal Website: <a href='http://janakitti.com'>janakitti.com</a></li>
                </ul>
            </div>
        </div>
        <hr />
        <div class='row d-flex'>
            <div class='col-md-2 order-md-2'>
                <img src='./../../../assets/images/about-us-developers/john.jpg' class='img-fluid border' id='team-image-5' alt='John' (mouseenter)="changePhotoSilly(5)" (mouseleave)="changePhotoRegular(5)">
            </div>
            <div class='col-md-7 order-md-1 mt-3 mt-md-0'>
                <p class='text-justify'>
                    John is the fearless, heroic and noble creator of all the static pages you see on the Virtrolio site. In his domain, all browsers are welcome (with the exception of IE11) and are served with the very best static pages. John is currently studying Computer Science at the University of Waterloo. In his spare time, John enjoys baking fresh peanut-butter chocolate chip cookies and watching Masterchef Australia. John has also been taking swimming lessons to improve his swimming skills.
                </p>
            </div>
            
            <div class='col-md-3 order-md-3'>
                <p><strong>Contact John:</strong></p>
                <ul>
                    <li>Linkedin: <a href='https://www.linkedin.com/in/johnzhou123/'>John Zhou</a></li>
                    <li>Github: <a href='https://github.com/johnzhoudev'>johnzhoudev</a></li>
                    <li>Instagram: @itsjon.zho</li>
                </ul>
            </div>
        </div>
        <br />
    </div>
</div>