/* || Title content */

#title {
  text-align: center;
  font-size: 5em;
}

#title-blurb {
  border-left: 3px solid var(--accent);
  padding-left: 2em;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #title-blurb {
    border-left: none;
    padding-left: 0;
  }
}

#meet-the-team-title {
  text-align: center;
}

.jumbotron {
  padding-top: 2em;
  padding-bottom: 0;
}

.regular-picture:hover {
  opacity: 0;
}

.regular-picture {
  z-index: 0;
  width: 100%;
}

.silly-picture {
  position: absolute;
  z-index: -1;
  width: 100%;
}

.image-container {
  padding: 0;
  overflow: hidden;
}

.image-container, .image-container > img {
  overflow: hidden !important;
}

ul {
  word-break: break-word;
}

#special {
  flex-direction: row !important;
}
