#title {
  text-align: center;
  font-size: 5em;
}

#meet-the-team > div > div {
  display: flex; /* Use flexbox for centering */
  flex-direction: column; /* Align items vertically (column-direction) */
  justify-content: center; /* Align items in the flex direction */
  overflow: auto;
}