<div class='container vertical-center montserrat align-items-center'>
  <div class='row mx-3 mt-3'>
    <h1 class='display-4' id='title-text'>Access Denied - Not a Beta Tester</h1>
  </div>
  <div class='row mx-3 col-md-7 justify-content-center'>
    <p class='subtitle-text'>Oops! You tried to login to the beta website, but you aren't a beta tester!</p>
    <p class='subtitle-text'><strong>If you are not a beta tester, please <a href='https://virtrolio.web.app'>
      click here</a> to use the public website.</strong></p>
    <p class='subtitle-text'>If you <strong>are</strong> a beta tester and are seeing this message, please follow
      the instructions in the #instructions channel in the Beta Tester Discord to gain access. Message a
      Software Developer if you continue to experience problems.</p>
  </div>
  <div class='row justify-content-center mx-3 mt-3'>
    <img alt='Padlock graphic' id='graphic' src='../../../assets/images/AccessDenied.svg'>
  </div>
  <div class='row justify-content-center mt-5 mb-3'>
    <a class='btn btn-lg btn-primary mt-3 mx-3' role='button' href='https://virtrolio.web.app'>Go to the Public
      Website</a>
    <button class='btn btn-lg btn-secondary mt-3' routerLink=''>Back to Beta Website</button>
  </div>
</div>
