#navbar-filler {
  /* Transparent div to push router-outlet content downwards */
  height: var(--navbar-height);
}

#cookie-alert {
  position: fixed;
  left: 50%;
  transform: translate(-50%, -50%);
  bottom: 1em;
  z-index: 2000;
}

#cookie-alert-button {
  padding-bottom: 0.15em;
}

#content-wrapper {
  /* Prevents footer collapse to top of screen while component loads */
  min-height: calc(100vh - var(--footer-height) - var(--navbar-height));
}
