<app-navbar></app-navbar>
<div id="navbar-filler"></div>
<div id="content-wrapper">
  <router-outlet></router-outlet>
</div>
<!-- Cookie Alert -->
<div class="col-12 justify-content-center">
  <div class="alert alert-primary col-sm-8 align-items-center d-flex" role="alert" id="cookie-alert" *ngIf="showCookieAlert">
    Virtrolio uses cookies to enhance the user experience. By continuing to use our website, you consent to our use of cookies. See our Terms of Service for more information.
    <button type="button" class="close ml-2" id="cookie-alert-button" (click)='dismissCookieAlert()'>
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
</div>
<app-footer></app-footer>