<div>
  <div id="page-container">
    <app-navbar></app-navbar>
    <div class="py-5">
      <div class="py-4">
        <router-outlet></router-outlet>
      </div>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<!-- 
<div class="d-none d-block d-sm-block d-md-block d-lg-none">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Device too small</h1>
      <p class="lead">Please use <strong>virtrolio</strong> on a wider screen for the best experience.</p>
      <p class="lead">If you're curious as to what this is...<em>virtrolio</em> stands for ‘virtual portfolio’ and is an online version of those pages in your yearbook that you use to write messages to your friends. You can create your own virtrolio, share it with friends, and have them write messages on it. Whenever you want, you can view your virtrolio, download it, and make it private.
      </p>
      <p>Tentative release: Mid-summer 2020.</p>
      <p>Stay tuned and contact us at virtrolio.team@gmail.com if you have any questions.
      </p>
    </div>
  </div>
</div> -->