<app-navbar></app-navbar>
<div id="navbar-filler"></div>
<router-outlet></router-outlet>
<button (click)='deleteCookie()'>DELETE COOKIE
</button>
<app-footer></app-footer>

<!-- Cookie Modal -->
<div class="modal fade" id="cookieModal" tabindex="-1" role="dialog" aria-labelledby="cookieModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <span class="modal-title" id="cookieModalLabel">Virtrolio uses cookies to enhance the user experience. By
          continuing to use our website, you consent to our use of cookies.</span>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    </div>
  </div>