
#graphic {
  height: 10em;
}

#maintenance-heading {
  font-size: 1.6em;
  text-align: center;
}

#maintenance-subheading {
  font-size: 1.2em;
  text-align: center;
}

/* Mobile */
@media only screen and (max-width: 768px) {
  #graphic {
    height: 5em;
  }

  #maintenance-heading {
    font-size: 1.4em;
  }

  #maintenance-subheading {
    font-size: 1em;
  }
}
