<div id="carouselExampleControls" class="carousel slide my-4 border rounded" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="page">
            <span class="titlepage">My Yearbook</span>
        </div>
      </div>
      <div class="carousel-item" *ngFor="let msg of userMsgData">
        <div class="page bg-color-{{msg.bgcolor}}">
            <table>
                <tr class="message
                font-family-{{msg.fontfamily}} 
                font-style-{{msg.fontstyle}}
                font-color-{{msg.fontcolor}}">
                    <td>{{ msg.message }}</td>
                </tr>
                <tr class="author
                font-style-{{msg.fontstyle}}
                font-color-{{msg.fontcolor}}">
                    <td> {{ msg.author }}</td>
                </tr>
            </table>
        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
</div>