<button type="button" class="btn btn-primary btn-sm" (click)="toggleViewStyle()" *ngIf="viewMode == 'Cards'">Carousel View</button>
<button type="button" class="btn btn-primary btn-sm" (click)="toggleViewStyle()" *ngIf="viewMode == 'Carousel'">Cards View</button>
<div class="viewing-container" *ngIf="viewMode == 'Carousel'">
    <div id="carouselExampleControls" class="carousel slide my-4 border rounded" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="page">
                <span class="titlepage">My Yearbook</span>
            </div>
          </div>
          <div class="carousel-item" *ngFor="let msg of userMsgData">
            <div class="page" [ngStyle]="{'background': msg.bgcolor}">
                <table>
                    <tr [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
                        <td>{{ msg.message }}</td>
                    </tr>
                    <tr [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
                        <td> {{ msg.author }}</td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    </div>
</div>
<div *ngIf="viewMode == 'Cards'">
    <div class="card message-card" *ngFor="let msg of userMsgData" [ngStyle]="{'background': msg.bgcolor}">
        <table>
          <tr [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
              <td>{{ msg.message }}</td>
          </tr>
          <tr [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
              <td> {{ msg.author }}</td>
          </tr>
      </table>
    </div>
</div>