<div class="row my-3">
  <div class="col-12">
    <div class="custom-control custom-switch">
      <input type="checkbox" class="custom-control-input" id="customSwitch1" [(ngModel)]="viewingService.isCardView" (click)="toggleViewStyle()">
      <label class="custom-control-label toggle-switch" for="customSwitch1" *ngIf="!viewingService.isCardView">Switch to Cards</label>
      <label class="custom-control-label toggle-switch" for="customSwitch1" *ngIf="viewingService.isCardView">Switch to Booklet</label>
    </div>
  </div>
</div>

<div class="viewing-container mb-5" *ngIf="viewingService.isCardView == false">
    <div id="carouselControls" class="carousel slide border rounded" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <div class="page">
                <span class="titlepage">My Yearbook</span>
            </div>
          </div>
          <div class="carousel-item" *ngFor="let msg of userMsgData">
            <div class="page" [ngStyle]="{'background': msg.bgcolor}">
                <table>
                    <tr class="message" [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
                        <td>{{ msg.message }}</td>
                    </tr>
                    <tr class="message" [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
                        <td>{{ msg.author }}</td>
                    </tr>
                </table>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </a>
        <a class="carousel-control-next" href="#carouselControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </a>
    </div>
</div>
<div class="mt-3" *ngIf="viewingService.isCardView == true">
    <div class="card message-card" *ngFor="let msg of userMsgData" id="{{msg.authorid}}" [ngStyle]="{'background': msg.bgcolor}">
        <table>
          <tr class="message" [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
              <td>{{ msg.message }}</td>
          </tr>
          <tr class="message" [ngStyle]="{'color': msg.fontcolor, 'font-family': msg.fontfamily, 'font-style': msg.fontstyle}">
              <td>{{ msg.author }}</td>
          </tr>
      </table>
    </div>
</div>
