<div class="hamburger vertical-center shadow" (click)="navOpen(true)">
  <img src="../../../../assets/images/icons/chevron-right.svg" alt="response-list">
</div>

<div id="mySidenav" class="sidenav shadow" [class.navOpen]="navIsOpen">
  <a href="javascript:void(0)" class="close-btn" (click)="navOpen(false)">&times;</a>
  <div class="nav-item mb-2 ml-4 response-title">
    My Responses
  </div>
  <!--suppress HtmlUnknownAttribute -->
  <div class="author-container" *ngFor="let msg of messageList; let i = index" data-target="#carousel"
       attr.data-slide-to="{{ i + 1 }}" (click)="showMessage(msg.id);">
    <table class="header-table">
      <tr>
        <td class="profile-pic-col">
          <img class="profile-pic" src="{{ msg.fromPic }}" alt="profile-pic">
        </td>
        <td class="author-col">
          <table>
            <tr class="msg-header-text">
                <!--suppress HtmlUnknownTag -->
              <a href="javascript: void(0)" class="author-name">{{ msg.fromName }}</a>
            </tr>
            <tr class="msg-header-date">
              {{ viewService.timeSince(viewService.nowMillis, msg.timestamp.toMillis(), msg.timestamp.toDate().toDateString()) }}
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </div>
</div>
