/* Side nav container */
.sidenav {
  height: calc(100% - var(--navbar-height));
  width: 25em;
  position: fixed;
  z-index: 3000;
  top: var(--navbar-height);
  left: -25em;
  background-color: white;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 2em;
}

.sidenav .close-btn {
  position: absolute;
  color: var(--dark);
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

.close-btn {
  cursor: pointer;
}

.close-btn:hover {
  text-decoration: none;
}

/* Nav width states controlled by navOpen() */
/*noinspection CssUnusedSymbol*/
.navClosed {
  left: -25em;
}

.navOpen {
  left: 0;
}

.hamburger {
  position: fixed;
  z-index: 2000;
  top: calc(2em + var(--navbar-height));
  left: -4em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  height: 6em;
  width: 6em;
  border-radius: 0.5em;
  background: var(--accent);
  cursor: pointer;
  transition: 0.5s;
}

.hamburger:hover {
  left: -1em;
  transition: 0.5s;
}

.right-chevron {
  position: absolute;
  right: 0.5em;
}

/* Side nav contents */
.response-title {
  font-size: 1.4em;
  font-weight: bold;
}

.author-container {
  padding: 1em 1em 1em 2em;
  line-height: 1.2em;
  border-bottom: 0.05em solid var(--lighter-grey);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer
}

.author-container:hover {
  background: var(--response-list-hover);
}

.header-table {
  table-layout: fixed;
  width: 100%;
}

.profile-pic-col {
  width: 2.5em;
}

.author-col {
  left: 1em;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-pic {
  background: var(--light-grey);
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
}

.author-name {
  font-weight: bold;
  font-size: 1em;
  margin: 0.2em 0 0 0;
  color: var(--dark);
}

.author-name:hover {
  text-decoration: none;
}

.msg-header-date {
  font-size: 0.7em;
  margin: 0;
}

/* Mobile adjustments */
@media screen and (max-width: 720px) {
  .navOpen {
    width: 100%;
  }

  .hamburger {
    position: fixed;
    z-index: 2000;
    top: unset;
    bottom: 2em;
    left: -1em;
    font-size: 1em;
    font-weight: bold;
    color: white;
    text-align: center;
    height: 6em;
    width: 3em;
    border-radius: 0.5em;
    background: var(--accent);
    opacity: 0.8;
    cursor: pointer;
  }

  .hamburger:hover {
    left: -0.5em;
    height: 6em;
    width: 3em;
    transition: 0.5s;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 0.2em;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  opacity: 0.1;
  border-radius: 1em;
}
