/* || DESKTOP */
/* Side nav container - houses list and tab button */
.side-nav-container {
  height: calc(100% - var(--navbar-height));
  position: fixed;
  left: -25em;
  /* z-index of 1051 is the level that modals appear */
  z-index: 1050;
  transition: 0.5s;
}

/* List component */
.sidenav {
  width: 25em;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  padding-top: 2em;
  z-index: 1050;
}

.sidenav .close-btn {
  position: absolute;
  color: var(--dark);
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Button component */
.hamburger {
  position: absolute;
  height: 6em;
  width: 2em;
  top: 2em;
  right: -2em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: var(--accent);
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1049;
}

.hamburger:hover {
  transform: translate(1em, 0);
  width: 3em;
  transition: 0.5s;
}

/* Conditionally-activated class */
.nav-open {
  left: 0;
}

/* || MOBILE */

.side-nav-container-mobile {
  height: calc(100% - var(--navbar-height));
  position: fixed;
  right: 100vw;
  /* z-index of 1051 is the level that modals appear */
  z-index: 1050;
  transition: 0.5s;
}

/* List component */
.sidenav-mobile {
  width: 100vw;
  height: 100%;
  background-color: white;
  overflow-x: hidden;
  padding-top: 2em;
  z-index: 1050;
}

.sidenav-mobile .close-btn {
  position: absolute;
  color: var(--dark);
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Conditionally-activated class */
.nav-mobile-open {
  right: 0;
}

/* Button component */
.hamburger-mobile {
  position: absolute;
  height: 3em;
  width: 2em;
  top: 3em;
  right: -2em;
  font-size: 1em;
  font-weight: bold;
  color: white;
  background: var(--accent);
  border-radius: 0 0.5em 0.5em 0;
  cursor: pointer;
  transition: 0.5s;
  z-index: 1049;
}

/* || SHARED */
/* Buttons */
.close-btn {
  cursor: pointer;
}

.close-btn:hover {
  text-decoration: none;
}

.chevron {
  position: absolute;
  right: 0;
}

/* List contents */
.response-title {
  font-size: 1.4em;
  font-weight: bold;
}

.author-container {
  padding: 1em 1em 1em 2em;
  line-height: 1.2em;
  border-bottom: 0.05em solid var(--lighter-grey);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  cursor: pointer
}

.author-container:hover {
  background: var(--response-list-hover);
}

.header-table {
  table-layout: fixed;
  width: 100%;
}

.profile-pic-col {
  width: 2.5em;
}

.author-col {
  left: 1em;
  padding-left: 1em;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.profile-pic-container {
  background: white;
  height: 2.5em;
  width: 2.5em;
  border-radius: 100%;
}

.author-name {
  font-weight: bold;
  font-size: 1em;
  margin: 0.2em 0 0 0;
  color: var(--dark);
}

.author-name:hover {
  text-decoration: none;
}

.msg-header-date {
  font-size: 0.7em;
  margin: 0;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }

  .sidenav a {
    font-size: 18px;
  }
}

/* Supress warning for conditionally-applied CSS class */
/*noinspection CssUnusedSymbol*/
.flashy-hamburger {
  -webkit-animation: FlashyHamburger 2s ease infinite;
  -moz-animation: FlashyHamburger 2s ease infinite;
  animation: FlashyHamburger 2s ease infinite;
}

@-webkit-keyframes FlashyHamburger {
  0% {
    transform: translate(0, 0);
    width: 2em;
  }
  50% {
    transform: translate(1em, 0);
    width: 3em;
  }
  100% {
    transform: translate(0, 0);
    width: 2em;
  }
}

@-moz-keyframes FlashyHamburger {
  0% {
    transform: translate(0, 0);
    width: 2em;
  }
  50% {
    transform: translate(1em, 0);
    width: 3em;
  }
  100% {
    transform: translate(0, 0);
    width: 2em;
  }
}

@keyframes FlashyHamburger {
  0% {
    transform: translate(0, 0);
    width: 2em;
  }
  50% {
    transform: translate(1em, 0);
    width: 3em;
  }
  100% {
    transform: translate(0, 0);
    width: 2em;
  }
}

/* Supress warning for conditionally-applied CSS class */
/*noinspection CssUnusedSymbol*/
.flashy-hamburger-mobile {
  -webkit-animation: FlashyHamburgerMobile 2s ease infinite;
  -moz-animation: FlashyHamburgerMobile 2s ease infinite;
  animation: FlashyHamburgerMobile 2s ease infinite;
}

@-webkit-keyframes FlashyHamburgerMobile {
  0% {
    transform: translate(0, 0);
    width: 2em;
  }
  50% {
    transform: translate(0.4em, 0);
    width: 3em;
  }
  100% {
    transform: translate(0, 0);
    width: 2em;
  }
}

@-moz-keyframes FlashyHamburgerMobile {
  0% {
    transform: translate(0, 0);
    width: 2em;
  }
  50% {
    transform: translate(0.4em, 0);
    width: 3em;
  }
  100% {
    transform: translate(0, 0);
    width: 2em;
  }
}

@keyframes FlashyHamburgerMobile {
  0% {
    transform: translate(0, 0);
    width: 2em;
  }
  50% {
    transform: translate(0.4em, 0);
    width: 3em;
  }
  100% {
    transform: translate(0, 0);
    width: 2em;
  }
}

/* || SCROLLBAR */
/* width */
::-webkit-scrollbar {
  width: 0.2em;
}

/* Track */
::-webkit-scrollbar-track {
  opacity: 0;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb);
  opacity: 0.1;
  border-radius: 1em;
}

.subtle-link, .subtle-link:hover {
  color: #000000;
  text-decoration: none;
}
