<div class="container-fluid full-width" id="home-background">
  <div class="container-fluid full-width" id="home-img-background">
    <img data-aos="zoom-in-up" data-aos-duration="1500" src="../../../assets/images/logo_inverted.png" width="1024" height="1024" id="background-logo" alt="Virtrolio Logo">
    <div id="title-container">
      <h1 data-aos="zoom-in" data-aos-duration="500" id="title-header">Stay Connected.</h1>
      <h1 data-aos="zoom-in" data-aos-duration="1000" id="title-subtitle">With your "friends"</h1>
      <img src="../../../assets/images/icons/chevron-down.svg" id="chevron" alt="down" width="48" height="48">
    </div>
  </div>
</div>

<div class="container pt-5 vertical-center body-container">
  <div class="row d-flex justify-content-center">
    <div data-aos="zoom-in" data-aos-duration="1000" class="col-12">
        <h2 class="mb-3">What is "virtrolio"?</h2>
        <p class="lead" id="body-text"><em>Virtrolio</em> stands for ‘virtual portfolio’ and is an online version of
          those pages in
          your yearbook that you use to write personal and long-lasting messages to your friends. In other words, you
          can create your own virtrolio, share it
          with friends, and have them write customized messages for you to keep. Whenever you want, you can view your
          virtrolio or download it for keepsakes.
        </p>

        <div id="login-virtrolio-button">
          <!-- Call to sign in and Google sign in button; displays if logged out -->
          <div *ngIf="!authService.isLoggedIn() else yourVirtrolio"> <!-- Changing this to 'true else yourVirtrolio' induces no flickering-->
            <p class="lead" id="bolded-body-text">Sign up / Sign in below to start your own virtrolio!</p>
            <div class="row d-flex justify-content-center mt-4">
              <button type="button" (click)="authService.login('/virtrolio-cover')"
                class="btn btn-outline-dark google-sign-in-btn">
                <img src="../../../assets/images/icons/google.svg" alt="Google Logo" width="23" height="23">
                <span>Sign in with Google</span>
              </button>
            </div>
          </div>

          <!-- Button to replace 'Sign in with Google' when you're signed in -->
          <ng-template #yourVirtrolio>
            <div class="d-flex justify-content-center pt-3">
              <button type="button" class="btn-lg btn-primary" routerLink="/virtrolio-cover" id="your-virtrolio">Go to my virtrolio</button>
            </div>
          </ng-template>
        </div>
    </div>
  </div>
<!--  <div class="row d-flex justify-content-center">
    <img src="../../../assets/images/logo_reg_transparent.png" alt="virtrolio logo" id="logo">
  </div>-->
  <div class="row py-5 my-5">
    <div class="col-8">
      Content
    </div>
    <div class="col-4" data-aos="flip-left" data-aos-duration="2000">
      <div class="card message-card d-flex justify-content-center border-0 shadow" id="card-2">
        <div class="card message-card d-flex justify-content-center border-0 shadow" id="card-1">
          <div class="card message-card d-flex justify-content-center border-0 shadow" id="card-0">
            <p id="card-message">Had an amazing year with you. I'm really gonna miss u. Have a good life. <br> Mike H.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
