#bolded-body-text {
  font-weight: 600;
  text-align: center;
}

#disclaimer-text {
  font-size: 1em;
  text-align: center;
}

.home-text {

}

.header-text {

}

.body-text {
  font-size: 1.2em;
}

#logo {
  width: 12em;
}

.modal-dialog {
  position: absolute;
  top: 80%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10040;
  overflow: auto;
  overflow-y: auto;
}

#home-background {
  background: var(--accent);
  background: linear-gradient(90deg, rgba(250, 128, 114, 1) 0%, rgba(251, 91, 91, 1) 100%);
  height: calc(100vh - var(--navbar-height));
}

#background-logo {
  position: absolute;
  opacity: 0.1;
  right: 0;
}

#title-container {
  position: relative;
  padding: 30vh 0 0 10vw;
}

#title-header {
  font-size: 6em;
  color: white;
}

#title-subtitle {
  font-size: 2em;
  font-weight: 400;
  color: white;
  margin-top: 1em;
}

#chevron {
  margin-top: 2em;
}

#bg-curve {
  position: relative;
  max-height: 100vh;
  max-width: 100%;
  z-index: 0;
}

#home-img-background {
  background: url("../../../assets/images/bg-curve.svg") no-repeat;
  background-size: 100%;
  background-position: center bottom;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.body-container {
  margin-top: 3em;
}

#login-virtrolio-button {
  padding: 3em 0 3em 0;
}

.message-card {
  width: 25em;
  height: 25em;
  text-align: center;
}

#card-message {
  color: white;
  text-align: left;
  font-weight: bold;
  font-size: 1.4em;
}

#card-0 {
  background: var(--accent);
  margin-bottom: -1em;
  margin-left: -1em;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
  padding: 3em;
}

#card-1 {
  background: aquamarine;
  margin-bottom: -1em;
  margin-left: -1em;
  -webkit-transform: rotate(-5deg);
  -ms-transform: rotate(-5deg);
  transform: rotate(-5deg);
}

#card-2 {
  background: palegoldenrod;
  -webkit-transform: rotate(10deg);
  -ms-transform: rotate(10deg);
  transform: rotate(10deg);
}
