/* || Full Screen Landing */

#home-background {
  background: linear-gradient(90deg, var(--navbar-left) 0%, var(--navbar-right) 100%);
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

/* Large logo in the background for when there is no image to feature */
#bg-logo-img {
  position: absolute;
  opacity: 0.1;
  right: 0;
}

/* Featured image or pattern */
#feature-img {
  position: absolute;
  opacity: 0.5;
  width: 40vw;
  height: 40vw;
  right: 0;
}

#title-container {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding: 30vh 0 0 10vw;
}

#title-header {
  font-size: 6em;
  color: white;
}

#title-subtitle {
  font-size: 2em;
  font-weight: 400;
  color: white;
  margin-top: 1em;
}

#chevron {
  margin-top: 2em;
}

#home-img-background {
  background: url("../../../assets/images/bg-curve.svg") no-repeat center bottom;
  background-size: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

/* || Body-Specific */

.body-container {
  margin-top: 3em;
}

#bolded-body-text {
  font-weight: 600;
  text-align: center;
}

#disclaimer-text {
  font-size: 1em;
  text-align: center;
}

.header-text {
  font-size: 3em;
  font-weight: bold;
}

.body-header-text {
  font-size: 1.2em;
}

.body-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#logo {
  width: 12em;
}

#login-virtrolio-button {
  padding: 3em 0 3em 0;
}

.card-header-text {
  font-weight: bold;
  margin-top: 0.2em;
}

.card-header {
  display: flex;
  flex-direction: row;
}

.card-message {
  background: var(--accent);
  padding: 3em;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.profile-pic-container-small {
  background: rgba(255, 255, 255, 0);
  height: 2em;
  width: 2em;
  border-radius: 100%;
  display: flex;
}

/* || Signing box, Preview Box */

#signing-box-label {
  font-size: 1.5em;
}

#preview-instructions {
  width: 100%;
  text-align: center;
}

#signing-box {
  margin: 0.5em;
  padding: 1em;
  width: 100%;
  height: 12em;
  resize: none;
  color: #000000;
  font-size: 1em;
  border-width: 0.05em;
  border-radius: 0.25rem;
}

#char-count-display {
  z-index: 10;
  position: absolute;
  bottom: -1em;
  right: 2.0em;
}

.form-control {
  border-color: var(--light-grey)
}

.form-control:focus {
  border-color: var(--accent);
}

markdown {
  padding: 1em;
  resize: none;
  font: 1em Arial;
  height: 15em;
  max-height: 15em;
  overflow-y: auto;
  overflow-x: auto;
  word-wrap: break-word;
  line-height: 1.5;
}

/* || Formatting Tools  */

#options > * {
  margin: 1.4em 0.5em 0.8em;
}

#font-selector-dropdown {
  display: flex;
  display: -webkit-flex;
  justify-content: space-between;
  align-items: center;
  text-align: right;
  width: 12em;
  height: 2.5em;
}

#font-selector-dropdown span:not(.caret) {
  overflow: hidden;
  text-overflow: ellipsis;
}

#font-selector-dropdown .caret {
  margin: auto;
}

.btn-format {
  width: 2.5em;
  height: 2.5em;
}

.btn-send {
  width: 6em;
  height: 2.5em;
}

.btn-send:disabled {
  background-color: var(--light-grey);
}

.dropdown-item {
  cursor: pointer;
}

.dropdown-item:active {
  background-color: var(--accent);
}

.dropdown-menu {
  overflow-y: auto;
  height: 12em;
}

#icon {
  width: 1.5em;
  margin: 0 auto;
}

.icon-wrapper {
  padding: 0;
}

#colorpicker-font, #colorpicker-background {
  opacity: 0;
  position: absolute;
  display: block;
  z-index: 1;
  width: 2.2em;
  height: 2.2em;
  margin: -1.55em 0.05em !important;
  cursor: pointer;
}

#font-color-text {
  margin-bottom: 0;
  font-size: large;
}

.dynamic-color-bar {
  display: block;
  height: 0.4em;
  margin: 0.1em 0.2em;
  border-radius: 0.4em;
}

/* || Typography */

.title-div {
  height: 3em;
  margin: 0 0.5em 0 0.5em;
  text-align: center;
  font-size: 1.2em;
}

/* || Miscellaneous */

#btn-info {
  margin: 0.5em 0.5em 0.7em;
  padding: 0;
  border-radius: 6em;
  width: 2em;
  height: 2em;
  background-color: #90959A;
  color: #ffffff;
}

#btn-info:hover {
  background-color: #75797A;
}


@media only screen and (max-width: 768px) {
  #title-header {
    font-size: 10vw;
    color: white;
  }

  #title-subtitle {
    font-size: 6vw;
    font-weight: 400;
    color: white;
    margin-top: 1em;
  }

  .header-text {
    font-size: 2em;
    font-weight: bold;
  }

  .body-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
}

/* || Miscellaneous */

#btn-info {
  margin: 0.5em 0.5em 0.7em;
  padding: 0;
  border-radius: 6em;
  width: 2em;
  height: 2em;
  background-color: #90959A;
  color: #ffffff;
}

#btn-info:hover {
  background-color: #75797A;
}

/* fragment padding for navbar */

#info::before {
  content: "";
  display: block;
  height: 50px;
  margin: -50px 0 0 0;
}
