/* || Full Screen Landing */

.home-background {
  background: linear-gradient(
    90deg,
    var(--navbar-left) 0%,
    var(--navbar-right) 100%
  );
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
}

/* Large logo in the background for when there is no image to feature */
#bg-logo-img {
  position: absolute;
  opacity: 0.25;
  right: 0;
  height: 50em;
  width: 50em;
}

.title-container {
  font-family: 'Roboto', sans-serif;
  position: relative;
  padding-left: 10vw;
}

#title-header {
  font-size: 6em;
  color: white;
}

#title-subtitle {
  font-size: 2em;
  font-weight: 400;
  color: white;
  margin-top: 1em;
}

#title-header-mobile-landscape {
  font-size: 4em;
  color: white;
}

#title-subtitle-mobile-landscape {
  font-size: 1em;
  font-weight: 400;
  color: white;
  margin-top: 0.5em;
}

#chevron {
  margin-top: 2em;
  cursor: pointer;
}

#chevron-mobile-landscape {
  margin-top: 0;
  cursor: pointer;
}

.home-img-background {
  background: url('../../../assets/images/bg-curve.svg') no-repeat center bottom;
  background-size: 100%;
  height: calc(100vh - var(--navbar-height));
  overflow: hidden;
  position: absolute;
  left: 0;
  right: 0;
}

.demo-section {
  height: 70vh;
  overflow: hidden;
}

.demo-image {
  overflow: hidden;
  position: relative;
  height: 100%;
  left: 0;
  right: 0;
}

.card-container {
  height: 100%;
}

#card-text {
  background: var(--accent);
  font-family: Roboto, sans-serif;
  color: white;
}

#viewing-demo {
  background: linear-gradient(
    90deg,
    var(--navbar-left) 0%,
    var(--navbar-right) 100%
  );
}

#signing-demo {
  background: linear-gradient(129deg, #86d5d3, #a4e681, #edc556, #fa8072);
  background-size: 800% 800%;
  -webkit-animation: SectionGradientAnimation 10s ease infinite;
  -moz-animation: SectionGradientAnimation 10s ease infinite;
  animation: SectionGradientAnimation 10s ease infinite;
}

.viewing-demo-image {
  background: url('../../../assets/images/viewing-demo.svg') no-repeat center;
  background-size: cover;
}

.signing-demo-image {
  background: url('../../../assets/images/signing-demo.svg') no-repeat center;
  background-size: cover;
}

.viewing-demo-text-container {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  left: 0;
  text-align: left;
  height: 100%;
}

.signing-demo-text-container {
  font-family: 'Roboto', sans-serif;
  position: absolute;
  right: 0;
  text-align: right;
  height: 100%;
}

.demo-title {
  font-size: 3em;
  font-weight: 400;
  color: white;
  text-shadow: 0.1em 0.1em 0.2em rgba(0, 0, 0, 0.5);
  white-space: normal;
}

/* || Body-Specific */

.body-container {
  margin: 5em 0;
}

#bolded-body-text {
  font-weight: 600;
  text-align: center;
}

#disclaimer-text > p {
  font-size: 1em;
  text-align: center;
}

.header-text {
  font-size: 3em;
  font-weight: bold;
}

.ready-text {
  font-size: 2em;
  font-weight: bold;
  text-align: center;
}

.body-header-text {
  font-size: 1.2em;
}

.body-text {
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
}

#login-virtrolio-button {
  padding: 3em 0 3em 0;
}

.card-header-text {
  font-weight: bold;
  margin-top: 0.2em;
}

.card-header {
  display: flex;
  flex-direction: row;
}

.card-message {
  background: var(--accent);
  padding: 3em;
  color: white;
  font-size: 1em;
  font-weight: bold;
}

.profile-pic-container-small {
  background: rgba(255, 255, 255, 0);
  height: 2em;
  width: 2em;
  border-radius: 100%;
  display: flex;
}

@media only screen and (max-width: 768px) {
  #title-header {
    font-size: 10vw;
    color: white;
  }

  #title-subtitle {
    font-size: 4vw;
    font-weight: 400;
    color: white;
    margin-top: 1em;
    line-height: 0;
  }

  .header-text {
    font-size: 2em;
    font-weight: bold;
  }

  .body-text {
    font-family: 'Roboto', sans-serif;
    font-size: 1em;
  }
}

/* || Scrollbars */

::-webkit-scrollbar {
  width: 0.2em;
}

::-webkit-scrollbar-track {
  opacity: 0;
}

::-webkit-scrollbar-thumb {
  background: #efefef;
  opacity: 0.1;
  border-radius: 1em;
}

/* || Miscellaneous */

#btn-info {
  border-radius: 6em;
  background-color: var(--accent);
  color: #ffffff;
}

#btn-info:hover {
  background-color: var(--dark-accent);
}

/* fragment padding for header */
#info::before {
  content: '';
  display: block;
  height: 50px;
  margin: -50px 0 0 0;
}

/* || Animations */

@-webkit-keyframes SectionGradientAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@-moz-keyframes SectionGradientAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0 0;
  }
}

@keyframes SectionGradientAnimation {
  0% {
    background-position: 0 0;
  }
  50% {
    background-position: 93% 100%;
  }
  100% {
    background-position: 0 0;
  }
}
