<a class="btn btn-danger disclaimer-button" data-toggle="popover" data-trigger="focus" tabindex="0"
   role="button" title="Your Photo Links. Your Responsibility." data-html="true"
   data-content="<p><strong>Note: If you decide to embed photo links into your message, you agree
                    that, since Virtrolio does not store these images, you will take full responsibility
                    for whether the photos will work now and in the future, whether for you or for others.
                    By using links to photos stored online, your photo's survival is tied to whether the link works or
                    not. That means that—even if the link works for you for right now—if the link does not work on other
                    computers or stops working in the future then the message you wrote that contains the
                    image will not display it properly.</strong></p>
                    <p>For example, Google Photos is inconsistent in whether its embed links can be viewed by other
                    users (putting the photos into a photo album is recommended if you are trying this approach). Other
                    services such as Google Drive or Imgur or Pinterest can be used to store any images for sharing.
                    Virtrolio is not endorsing any services mentioned here, merely making you aware of options available
                    to you.</p>
                    <p>You also agree to take full responsibility for the content of the image, ensuring that it is
                    appropriate and that you have the right to use the image for this purpose.</p>
                    <p>See our <a href='/terms-of-service' target='_blank'>Terms of Service</a> for more</p>">
  <strong>Disclaimer</strong>
</a>
