<div class="container vertical-center">
  <div class="row justify-content-center mx-3">
    <h1 class="display-4" id="title-text">This sharing link is invalid!</h1>
  </div>
  <div class="row justify-content-center mx-3">
    <p id="subtitle-text">You are trying to access a sharing link that never existed or doesn't work anymore.<br>If you're trying to sign your friend's virtrolio, make sure to ask for their <em>newest</em> sharing link.</p>
  </div>
  <div class="row justify-content-center mx-3 mt-3">
    <img src="../../../assets/images/InvalidLink.svg" alt="black cloud graphic" id="graphic">
  </div>
  <div class="row justify-content-center m-2 ">
    <button class="btn-lg btn-primary mt-5" routerLink="">Back to Home</button>
  </div>
</div>
