<div class="py-5" style="margin:50px">
    <div class="container">
        <div class="row">
            <button type="button" class="btn btn-primary btn-lg btn-block col-md-12" style="height:200px;margin: 100px 0;font-size: 40px">Start a virtrolio / Edit Your virtrolio
            </button>
            <!-- make responsive to whether user has started a virtrolio-->
        </div>
    </div>
    <div class="container">
        <div class="row" style="height:100px">
            <button type="button" class="btn btn-primary btn-lg col-md-3">Account Settings</button>
            <div class="col-md-6"></div>
            <button type="button" class="btn btn-primary btn-lg col-md-3">Log Out</button>
        </div>
    </div>
</div>
