<div class="container py-5 vertical-center">
  <div class="row d-flex justify-content-center">
    <div class="col-sm-12 col-md-8">
      <div class="card shadow border p-3">
        <div class="card-body">
          <h2 class="mb-3">What is "virtrolio"?</h2>
          <p class="lead"><em>Virtrolio</em> stands for ‘virtual portfolio’ and is an online version of those pages in
            your yearbook that you use to write messages to your friends. You can create your own virtrolio, share it
            with friends, and have them write messages on it. Whenever you want, you can view your virtrolio, download
            it, and make it private.
          </p>
          <p class="lead" style="font-weight: 600">Tentative release: Mid-summer 2020.</p>
          <p class="lead">Stay tuned and contact us at <a href="mailto:virtrolio.team@gmail.com" target="_blank">virtrolio.team@gmail.com</a>
            if you have any questions.</p>
          <img src="../../assets/images/logo_reg.png" alt="Virtrolio Logo" width="64" height="64">
        </div>
      </div>
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-12 d-flex justify-content-center">
      <button type="button" (click)="authService.login()" class="btn btn-outline-primary">
        Sign in with
        <img src="../../assets/images/icons/google.svg" alt="Google" width="32" height="32">
      </button>
    </div>
  </div>
  <div class="row pt-5">
    <!-- Button trigger modal -->
    <button type="button" class="btn btn-danger btn-lg mx-auto" data-toggle="modal" data-target="#newUserModal">
      (Trigger New User Alert)
    </button>

    <!-- Modal -->
    <div class="modal fade" id="newUserModal" tabindex="-1" role="dialog" aria-labelledby="newUserModalLabel"
         aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="newUserModalLabel">You seem new here...</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            This must be your first time visiting! Take a look at our homepage and 'About' page to learn more about us,
            then feel free to sign up for an account. Or, if you'd like, you can sign up for one right now!
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
