<div class="container">
  <h1 align=center class='mt-3 mb-3'>Frequently Asked Questions</h1>
<!--s1q1h=section 1 question 1 heading, s1q1c= section 1 question 1 collapse (answer)-->
  <br />
  <h2>How to use a Virtrolio?</h2>
  <div class="accordion" id="faq-s1">
    <div class="card">
      <div class="card-header" id="s1q1h">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#s1q1c" aria-expanded="false" aria-controls="s1q1c">
            How do I sign someone's yearbook?
          </button>
        </h2>
      </div>
  
      <div id="s1q1c" class="collapse" aria-labelledby="s1q1h" data-parent="#faq-s1">
        <div class="card-body card-align">
          Take a pen and write your name on the yearbook.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="s1q2h">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#s1q2c" aria-expanded="false" aria-controls="s1q2c">
            How do I delete a message?
          </button>
        </h2>
      </div>
      <div id="s1q2c" class="collapse" aria-labelledby="s1q2h" data-parent="#faq-s1">
        <div class="card-body card-align">
          You can only delete messages if you are the recipient of the message. Simply throw your computer containing the message off a 10 story building (minimum height).
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="s1q3h">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#s1q3c" aria-expanded="false" aria-controls="s1q3c">
            How can I sign someone's yearbook more than once?
          </button>
        </h2>
      </div>
      <div id="s1q3c" class="collapse" aria-labelledby="s1q3h" data-parent="#faq-s1">
        <div class="card-body card-align">
          Explanation Lorem ipsum Nullam scelerisque augue id tempus finibus. Proin sed mauris ultricies, ultrices nisi non, bibendum arcu. Nulla posuere fermentum neque eget convallis. Sed eget egestas nulla, at vehicula nunc. Aliquam finibus dolor arcu, vel bibendum orci sodales sed. Mauris rhoncus tortor lorem, vitae egestas magna aliquam eu. Sed fringilla elementum lacus, vel ullamcorper ante malesuada sed. Sed varius ornare odio, molestie interdum elit ullamcorper eget. Aenean lobortis suscipit lectus, et mattis nisi vehicula sit amet. Ut id odio ut neque accumsan tempus quis et diam. Mauris dolor turpis, pulvinar vulputate rutrum in, pretium quis nisi. Fusce rhoncus metus placerat, gravida nisl vehicula, efficitur nisi. Nam sagittis non lorem eget tincidunt. Sed nibh nunc, pretium vitae vestibulum in, dapibus a nulla. In mollis ornare enim efficitur pellentesque. Nullam sapien ante, ultricies vitae sodales ut, imperdiet in ligula.
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card-header' id='s1q4h'>
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#s1q4c" aria-expanded="false" aria-controls="s1q4c">
            How do I get a new link?
          </button>
        </h2>
      </div>
      <div id="s1q4c" class="collapse" aria-labelledby="s1q4h" data-parent="#faq-s1">
        <div class='card-body card-align'>
          Explanation Lorem ipsum Nullam scelerisque augue id tempus finibus. Proin sed mauris ultricies, ultrices nisi non, bibendum arcu. Nulla posuere fermentum neque eget convallis. Sed eget egestas nulla, at vehicula nunc. Aliquam finibus dolor arcu, vel bibendum orci sodales sed. Mauris rhoncus tortor lorem, vitae egestas magna aliquam eu. Sed fringilla elementum lacus, vel ullamcorper ante malesuada sed. Sed varius ornare odio, molestie interdum elit ullamcorper eget. Aenean lobortis suscipit lectus, et mattis nisi vehicula sit amet. Ut id odio ut neque accumsan tempus quis et diam. Mauris dolor turpis, pulvinar vulputate rutrum in, pretium quis nisi. Fusce rhoncus metus placerat, gravida nisl vehicula, efficitur nisi. Nam sagittis non lorem eget tincidunt. Sed nibh nunc, pretium vitae vestibulum in, dapibus a nulla. In mollis ornare enim efficitur pellentesque. Nullam sapien ante, ultricies vitae sodales ut, imperdiet in ligula.
        </div>
      </div>
    </div>
  </div>

  <br />
  <br />
  <h2>How to not use a Virtrolio?</h2>
  <div class="accordion" id="faq-s2">
    <div class="card">
      <div class="card-header" id="s2q1h">
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#s2q1c" aria-expanded="false" aria-controls="s2q1c">
            How do I sign someone's yearbook?
          </button>
        </h2>
      </div>
  
      <div id="s2q1c" class="collapse" aria-labelledby="s2q1h" data-parent="#faq-s2">
        <div class="card-body card-align">
          you do not
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="s2q2h">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#s2q2c" aria-expanded="false" aria-controls="s2q2c">
            How do I delete a message?
          </button>
        </h2>
      </div>
      <div id="s2q2c" class="collapse" aria-labelledby="s2q2h" data-parent="#faq-s2">
        <div class="card-body card-align">
          you do not
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="s2q3h">
        <h2 class="mb-0">
          <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#s2q3c" aria-expanded="false" aria-controls="s2q3c">
            How can I sign someone's yearbook more than once?
          </button>
        </h2>
      </div>
      <div id="s2q3c" class="collapse" aria-labelledby="s2q3h" data-parent="#faq-s2">
        <div class="card-body card-align">
          you do not Explanation Lorem ipsum Nullam scelerisque augue id tempus finibus. Proin sed mauris ultricies, ultrices nisi non, bibendum arcu. Nulla posuere fermentum neque eget convallis. Sed eget egestas nulla, at vehicula nunc. Aliquam finibus dolor arcu, vel bibendum orci sodales sed. Mauris rhoncus tortor lorem, vitae egestas magna aliquam eu. Sed fringilla elementum lacus, vel ullamcorper ante malesuada sed. Sed varius ornare odio, molestie interdum elit ullamcorper eget. Aenean lobortis suscipit lectus, et mattis nisi vehicula sit amet. Ut id odio ut neque accumsan tempus quis et diam. Mauris dolor turpis, pulvinar vulputate rutrum in, pretium quis nisi. Fusce rhoncus metus placerat, gravida nisl vehicula, efficitur nisi. Nam sagittis non lorem eget tincidunt. Sed nibh nunc, pretium vitae vestibulum in, dapibus a nulla. In mollis ornare enim efficitur pellentesque. Nullam sapien ante, ultricies vitae sodales ut, imperdiet in ligula.
        </div>
      </div>
    </div>
    <div class='card'>
      <div class='card-header border-bottom' id='s2q4h'>
        <h2 class="mb-0">
          <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#s2q4c" aria-expanded="false" aria-controls="s2q4c">
            How do I get a new link?
          </button>
        </h2>
      </div>
      <div id="s2q4c" class="collapse" aria-labelledby="s2q4h" data-parent="#faq-s2">
        <div class='card-body card-align'>
          you do not Explanation Lorem ipsum Nullam scelerisque augue id tempus finibus. Proin sed mauris ultricies, ultrices nisi non, bibendum arcu. Nulla posuere fermentum neque eget convallis. Sed eget egestas nulla, at vehicula nunc. Aliquam finibus dolor arcu, vel bibendum orci sodales sed. Mauris rhoncus tortor lorem, vitae egestas magna aliquam eu. Sed fringilla elementum lacus, vel ullamcorper ante malesuada sed. Sed varius ornare odio, molestie interdum elit ullamcorper eget. Aenean lobortis suscipit lectus, et mattis nisi vehicula sit amet. Ut id odio ut neque accumsan tempus quis et diam. Mauris dolor turpis, pulvinar vulputate rutrum in, pretium quis nisi. Fusce rhoncus metus placerat, gravida nisl vehicula, efficitur nisi. Nam sagittis non lorem eget tincidunt. Sed nibh nunc, pretium vitae vestibulum in, dapibus a nulla. In mollis ornare enim efficitur pellentesque. Nullam sapien ante, ultricies vitae sodales ut, imperdiet in ligula.
        </div>
      </div>
    </div>
  </div>


  <br />
  <hr />
  <br />
  <div class='jumbotron'>
    <p>Didn't find what you were looking for? Send us your question with the <a routerLink='/contact'>Contact Us</a> page!</p>
  </div>

</div>
