<div class="container vertical-center">
  <div class="row justify-content-center mx-3">
    <h1 class="display-4" id="title-text">This friend link has expired</h1>
  </div>
  <div class="row justify-content-center mx-3">
    <p id="subtitle-text">Ask your friend for the new one!</p>
  </div>
  <div class="row justify-content-center mx-3 mt-3">
    <img src="../../../assets/images/ExpiredLink.svg" alt="Stinky cloud graphic" id="graphic">
  </div>
  <div class="row justify-content-center m-2 ">
    <button class="btn-lg btn-primary mt-5" routerLink="">Back to Home</button>
  </div>
</div>
