<div class="container montserrat vertical-center">
  <div class="row justify-content-center">

    <!-- Virtrolio cover -->
    <div class="vertical-center mx-5 my-3 my-lg-0">
      <div class="bg-primary rounded" id="virtrolio-outer-div" routerLink="/viewing">
        <div class="bg-light p-3 mt-4 m-4 rounded vertical-center" id="virtrolio-title">
          <h1>2019-2020</h1>
        </div>
        <div class="mt-5">
          <h2 id="users-virtrolio">{{ displayName }}'s <br> virtrolio </h2>
        </div>
      </div>
    </div>

    <!-- Side buttons -->
    <div class="col-lg-3 col-md-4 col-sm-5 px-2 vertical-center">
      <div id="buttons">
        <div class="row">
          <button class="btn-lg btn-primary" routerLink="/viewing" type="button">View Messages</button>
        </div>
        <div class="row">
          <button class="btn-lg btn-primary" data-target="#send-message" data-toggle="modal" type="button">Send a
            Message
          </button>
        </div>
        <div class="row">
          <button (click)="setLink(); showWarningText=false;" class="btn-lg btn-primary" data-target="#link-gen"
                  data-toggle="modal"
                  type="button">Sharing Link
          </button>
        </div>
        <div class="row">
          <button class="btn-lg btn-primary" routerLink="/settings" type="button">Settings</button>
        </div>
      </div>
    </div>

    <div class="col-lg-1"></div> <!-- Spacer to push the book & buttons left on big screens -->
  </div>
</div>

<!-- Sharing Link Modal -->
<div aria-hidden="true" aria-labelledby="link-gen-title" class="modal fade" id="link-gen" role="dialog" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="link-gen-title">Ahoy, your sharing link has been prepared!</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body sharing-link-body">
        <p>This is <b>your</b> sharing link; only share it with people you trust.</p>
        <label for="sharing-link-field">Your Link:</label>
        <div class="align-items-center my-3">
          <div class="input-group mb-3">
            <input #sharingLink (click)="copyLink(sharingLink)" [disabled]="!linkReady" class="form-control"
                   id="sharing-link-field" readonly
                   type="text" value="{{ link }}">
            <div class="input-group-append">
              <button (click)="copyLink(sharingLink)" [disabled]="!linkReady" class="btn btn-primary align-middle"
                      id="button-copy"
                      type="button">{{ copyButtonText }}
              </button>
            </div>
          </div>
        </div>

        <div class="row justify-content-center">
          <div class="w-100" id="sharing-link-buttons">
            <div *ngIf="canShare() else desktopSharing">
              <label for="button-share-mobile">Share</label>
              <button (click)="shareLink()" class="btn btn-success col-sm-5 mx-1" id="button-share-mobile"
                      type="button">Share your link
              </button>
            </div>
            <ng-template #desktopSharing>
              <label for="button-share-desktop">Share</label>
              <button (click)="openDesktopSharing()" class="btn btn-info col-sm-5 mx-1"
                      id="button-share-desktop" type="button">Share your link
              </button>
            </ng-template>
            <label for="button-new-link">Click to generate a new link</label>
            <button (click)="warnAndGenerate()" class="btn btn-secondary col-sm-6 mx-1" id="button-new-link" type="button">
              Generate new link
            </button>
          </div>
          <div class="mt-3" id="generate-link-desc">
            <h6>Why would I want to generate a new link?</h6>
            <p>If you want people to stop being able to use your
              old one! Comes in handy if people are signing your virtrolio whom you don't approve of.</p>
          </div>
          <div *ngIf="showWarningText" id="warning-div">
            Are you sure? Generating a new link will invalidate any other links that you have generated! Click generate
            again to confirm.
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Send a Message Modal -->
<div aria-hidden="true" aria-labelledby="send-message-modal-title" class="modal fade" id="send-message" role="dialog"
     tabindex="-1">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title" id="send-message-modal-title">Signing a friend's virtrolio</h5>
        <button aria-label="Close" class="close" data-dismiss="modal" type="button">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body sharing-link-body">
        <p>
          To sign a friend's virtrolio, they need to give you their 'sharing link'! You can paste your friend's sharing
          link below or directly into your browser search bar. To access <em>your</em> sharing link, click the 'Sharing
          Link' button on this page!
        </p>
        <div class="align-items-center my-3">
          <div class="input-group">
            <label for="input-sharing-field" id="input-sharing-label" style="display:none">Visit friend link</label>
            <input #inputSharing (click)="copyLink(inputSharing)" [(ngModel)]='visitLink' class="form-control"
                   id="input-sharing-field" type="text" placeholder="Input your friend's link here"
                   aria-label="sign-friend">
            <div class="input-group-append">
              <button (click)="navigateToLink()" aria-label="Close" class="btn btn-primary align-middle button-modal"
                      data-dismiss="modal"
                      id="button-go"
                      type="button">Go
              </button>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button class="btn btn-secondary" data-dismiss="modal" type="button">Close</button>
      </div>

    </div>
  </div>
</div>

<!-- Share your link modal -->
<div class="modal fade" id="share-link-modal" tabindex="-1" role="dialog" aria-labelledby="share-link-modal"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="share-link-label">Let's send it out!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="btn-group" role="group" aria-label="sharing buttons" id="sharing-buttons">
            <button role="button" class="btn btn-lg btn-secondary" id="facebook-button"
               (click)="postOnSocial('facebook')">Facebook
            </button>
            <button role="button" class="btn btn-lg btn-secondary" id="twitter-button"
               (click)="postOnSocial('twitter')">Twitter
            </button>
            <button role="button" class="btn btn-lg btn-secondary" id="gmail-button"
               (click)="postOnSocial('gmail')">Gmail
            </button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
